* {
  margin: 0;
  padding: 0;
}
.layout-box {
  width: 100%;
  border: #707070 solid 1px;
  margin-bottom: 50px;

  .control {
    display: flex;
    margin: 20px;

    div {
      margin: 0px 130px;
      width: 610px;
      text-align: center;
    }

    .btn {
      color: white;
      background: #66a55f;
      padding: 10px 20px;
      border-radius: 30px;
      float: right;
      &:hover {
        background: lighten($color: #66a55f, $amount: 10%);
      }

      &:active {
        background: darken($color: #66a55f, $amount: 5%);
      }
    }
  }
}
