<div class="layout-box">
  <!-- comment -->
  <app-comment-item
    *ngFor="let comment of listComment"
    [comment]="comment"
  ></app-comment-item>

  <!-- control -->
  <div class="control font-weight-bold">
    <div>
      Mọi thắc mắc và khiếu nại về sản phẩm xin vui lòng liên hệ Hotline để được
      hỗ trợ, giải đáp trong thời gian sớm nhất: 0339551554 (Miễn phí)
    </div>
    <button
      style="float: right; font-weight: bold"
      class="btn"
      (click)="openCommentDialog()"
    >
      Viết bình luận
    </button>
  </div>
</div>
