<div class="tag font-weight-bold">Hóa đơn tạm tính</div>
<div class="item">
  <div class="total tag-item">
    <div class="name font-weight-bold">Tạm tính</div>
    <div class="value font-weight-bold">2.000.000&#8363;</div>
  </div>
  <div class="dilivery tag-item">
    <div class="name font-weight-bold">Giao hàng</div>
    <div class="value font-weight-bold">200.000&#8363;</div>
  </div>
  <div class="voucher tag-item">
    <div class="name font-weight-bold">Mã giảm giá</div>
    <div class="value"><input class="form-control" type="text" placeholder="Nhập mã"/></div>
  </div>
  <div class="total  tag-item">
    <div class="name font-weight-bold">Tổng tiền</div>
    <div class="value font-weight-bold">200.000&#8363;</div>
  </div>
</div>
<div class="controls">
    <button class="btn btn-pay">Thanh toán</button>
  </div>
