<div class="comment">
  <div class="title">
    <p class="name font-weight-bold">
      {{ comment?.surname + " " + comment?.name }}
    </p>
    <p class="rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </p>
  </div>
  <div class="content">
    {{ comment?.content }}
  </div>
  <div class="feed-back" >
    <button [class.is-like]="comment?.like" (click)="changeLike()"><i class="far fa-thumbs-up"> Thích</i></button>
    <button [class.is-dislike]="comment?.unlike" (click)="changeDislike()"><i class="far fa-thumbs-down"> Không thích</i></button>
  </div>
</div>
