<div class="container">
  <div class="layout-box">
    <div class="product-details-image">
      <div class="image-main">
        <button class="btn btn-prev button">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="btn btn-next button">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="layout-box-sub">
        <div class="image-sub sub-1"></div>
        <div class="image-sub sub-2"></div>
        <div class="image-sub sub-3"></div>
        <div class="image-sub sub-4"></div>
      </div>
    </div>

    <div class="product-details-info">
      <div class="category">Trang chủ / Trái cây / Xoài</div>
      <div class="name-discount">
        <div class="name"><b>Xoài</b></div>
        <div class="discount"><b>-50% </b><i class="fas fa-tags"></i></div>
      </div>
      <div class="info">
        <div class="tag tag-price">
          <div class="tag-name"><b>Giá</b></div>
          <div class="price"><b>20.000&#8363;</b></div>
          <div class="discount">40.000&#8363;</div>
        </div>
        <div class="tag tag-origin">
          <div class="tag-name"><b>Xuất xứ</b></div>
          <div class="origin"><b>Việt Nam</b></div>
        </div>
        <div class="tag tag-description">
          <div class="tag-name"><b>Thông tin chi tiết</b></div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis
            tempora sapiente sit! Totam, facilis voluptas cumque exercitationem
            ad.
          </div>
        </div>
      </div>
      <div class="controls">
        <div class="change-amount">
          <div class="btn-minus small-square"></div>
          <input class="amount" type="text" />
          <div class="btn-plus small-square"></div>
          <button class="btn add-to-cart"><b>Thêm vào giỏ</b></button>
        </div>
        <button class="btn view-cart"><b>Xem giỏ hàng</b></button>
      </div>
      <div class="note">
        <div class="note-sub">
          <div class="note-icon note-icon-1"></div>
          <div class="note-content">
            Đặt online giao tận nhà <b>ĐÚNG GIỜ</b>
          </div>
        </div>
        <div class="note-sub">
          <div class="note-icon note-icon-2"></div>
          <div class="note-content">
            Thanh toán online miễn phí giao hàng !!!
          </div>
        </div>
        <div class="note-sub">
          <div class="note-icon note-icon-3"></div>
          <div class="note-content">
            Đổi, trả sản phẩm miễn phí trong vòng 48h
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-product-news></app-product-news>
  </div>
  <div><app-product-related></app-product-related></div>
  <div class="evaluate"><app-product-evaluate></app-product-evaluate></div>
</div>
