<div class="layout-box">
  <div class="product-details-image">
    <div class="image-main"></div>
    <div class="layout-box-sub">
      <div class="image-sub sub-1"></div>
      <div class="image-sub sub-2"></div>
      <div class="image-sub sub-3"></div>
      <div class="image-sub sub-4"></div>
    </div>
  </div>

  <div class="product-details-info">
    <div class="category">Trang chủ / Trái cây / Xoài</div>
    <div class="name-discount">
      <div class="name"><b>Xoài</b></div>
      <div class="discount"><b>-50% </b><i class="fas fa-tags"></i></div>
    </div>
    <hr color="#707070" />
    <div class="info">
      <div class="tag">
        <div class="tag-name"><b>Giá</b></div>
        <div class="price"><b>20.000&#8363;</b></div>
        <div class="discount">40.000&#8363;</div>
      </div>
      <hr />
      <div class="tag">
        <div class="tag-name"><b>Xuất xứ</b></div>
        <div class="origin"><b>Việt Nam</b></div>
      </div>
      <hr />
      <div class="tag">
        <div class="tag-name"><b>Thông tin chi tiết</b></div>
        <div class="description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates
          ipsam repellat quas blanditiis, itaque in? Hic nam quaerat quam
          asperiores.
        </div>
      </div>
    </div>
    <hr color="#707070" />
    <div class="controls">
      <div class="change-amount">
        <div class="btn-minus small-square"></div>
        <input class="amount" type="text" />
        <div class="btn-plus small-square"></div>
        <button class="btn add-to-cart"><b>Thêm vào giỏ</b></button>
      </div>
      <button class="btn view-cart"><b>Xem giỏ hàng</b></button>
    </div>
    <hr color="#707070" />
    <div class="note">
      <b>&#40;&#42;&#41; Thanh toán online sẽ miễn phí giao hàng</b>
    </div>
  </div>
</div>
<hr />
<app-product-news></app-product-news>