
<section class="section section__container">
    <p class="section__title">
        Xác nhận đơn hàng
    </p>

    <div class="bill bill__wrapper">
        <div class="title__wrapper">
            <p class="bill__title title">Thông tin</p>
            <p class="bill__price">Thành tiền</p>
        </div>
        <ul class="bill__list">
            <!-- Item -->
            <li class="bill__item">
                <p class="bill__title">Bắp cải trắng 300g</p>
                <div class="price__wrapper">
                    <p class="bill__price-unit">2 x 20.000&#8363;</p>
                    <p class="bill__price">20.000&#8363;</p>
                </div>
            </li>

             <!-- Item -->
             <li class="bill__item">
                <p class="bill__title">Bắp cải trắng 300g</p>
                <div class="price__wrapper">
                    <p class="bill__price-unit">2 x 20.000&#8363;</p>
                    <p class="bill__price">20.000&#8363;</p>
                </div>
            </li>

             <!-- Item -->
             <li class="bill__item">
                <p class="bill__title">Bắp cải trắng 300g</p>
                <div class="price__wrapper">
                    <p class="bill__price-unit">2 x 20.000&#8363;</p>
                    <p class="bill__price">20.000&#8363;</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="total__wrapper">
        <ul class="total__list">
            <!-- Item -->
            <li class="total__item">
                 <p class="title bill__title">Giao hàng</p>
                 <p class="total__price bill__price">20.000&#8363;</p>
            </li>

            <!-- Item -->
            <li class="total__item">
                 <p class="title bill__title">Giảm giá</p>
                 <p class="total__price bill__price">- 20.000&#8363;</p>
            </li>

            <!-- Item -->
            <li class="total__item">
                 <p class="title bill__title">Tổng tiền</p>
                 <p class="total__price bill__price">20.000&#8363;</p>
            </li>
        </ul>
     </div>

     <div class="controls__wrapper">
         <div class="button button__green button__medium" routerLink="/giohang">Quay lại</div>
         <div class="button button__red button__medium" routerLink="/thongtinnhanhang">Đặt hàng</div>
     </div>
</section>