
<section class="section section__container">
    <div *ngIf="!items.length">
        <p class="section__title">Không tồn tại đơn hàng</p>
        <div class="cart__empty">
            <img src="../../../assets/tuyen/img/cart-empty.png" class="img__empty">
            <div class="button button__green button__medium continue__button" routerLink="/cuahang">Tiếp tục mua sắm</div>
        </div>
    </div>
    <div *ngIf="items.length">
        <p class="section__title">
            Xác nhận đơn hàng
        </p>

        <div class="bill bill__wrapper">
            <div class="title__wrapper">
                <p class="bill__title title">Thông tin</p>
                <p class="bill__price">Thành tiền</p>
            </div>
            <ul class="bill__list">
                <!-- Item -->
                <li class="bill__item" *ngFor="let item of items">
                    <p class="bill__title">{{item.name}}</p>
                    <div class="price__wrapper">
                        <p class="bill__price-unit">{{item.quantity}} x {{item.price}}&#8363;</p>
                        <p class="bill__price">{{ item.quantity * item.price }}&#8363;</p>
                    </div>
                </li>   
            </ul>
        </div>

        <div class="total__wrapper">
            <ul class="total__list">
                <!-- Item -->
                <li class="total__item">
                    <p class="title bill__title">Giao hàng</p>
                    <p class="total__price bill__price">{{diliveryPrice}}&#8363;</p>
                </li>

                <!-- Item -->
                <li class="total__item">
                    <p class="title bill__title">Giảm giá</p>
                    <p class="total__price bill__price">- {{discount}}&#8363;</p>
                </li>

                <!-- Item -->
                <li class="total__item">
                    <p class="title bill__title">Tổng tiền</p>
                    <p class="total__price bill__price">{{total - discount + diliveryPrice}}&#8363;</p>
                </li>
            </ul>
        </div>

        <div class="controls__wrapper">
            <div class="button button__green button__medium" routerLink="/giohang">Quay lại</div>
            <div class="button button__red button__medium" routerLink="/thongtinnhanhang">Đặt hàng</div>
        </div>
    </div>
</section>