<div class="header">
    <div class="w-100 top-intro">
        <div class="text-white text-center title-top-intro">Cửa hàng rau sạch hữu cơ FRESHVEGE</div>
    </div>
    <nav class="navbar navbar-expand-sm bg-light justify-content-around">

        <div class="nav__bars-btn">

            <input type="checkbox" name="" class="nav-input" id="nav-input__mobile">
            <label for="nav-input__mobile" class="bars-btn">
            <i class="far fa-bars bars"></i>
            <i class="fal fa-times times"></i>
          </label>
            <label for="nav-input__mobile" class="nav-overlay"></label>
            <nav class="nav__mobile">
                <span class="box-triangle">
              <svg viewBox="0 0 20 9" role="presentation">
                <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff"></path>
              </svg>
            </span>
                <ul class="nav__mobile-list">
                    <li class="nav-item__mobile">
                        <a class="nav-link" routerLink="/trangchu">Trang chủ</a>
                    </li>
                    <li class="nav-item__mobile">
                        <a class="nav-link" routerLink="/cuahang">Cửa hàng
                        <i class="fa fa-chevron-down dropdown-icon__mobile"></i>
                            </a>

                    </li>

                    <li class="nav-item__mobile">
                        <a class="nav-link" routerLink="/gioithieu">Giới thiệu</a>
                    </li>
                    <li class="nav-item__mobile">
                        <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                    </li>
                    <li class="nav-item__mobile">
                        <a class="nav-link" routerLink="/chiase">Chia sẻ</a>
                    </li>
                </ul>
                <div class="help__mobile">
                    <div class="title-help">BẠN CẦN HỖ TRỢ?</div>
                    <div class="phone-help">
                        <svg class="icon-phone__mobile" viewBox="0 0 24 24" role="presentation">
                        <g stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
                          <path d="M17 15l-3 3-8-8 3-3-5-5-3 3c0 9.941 8.059 18 18 18l3-3-5-5z" stroke="#1e2d7d"></path>
                          <path d="M14 1c4.971 0 9 4.029 9 9m-9-5c2.761 0 5 2.239 5 5" stroke="#00badb"></path>
                        </g>
                      </svg>
                        <a href="tel:0356965894" class="phone__mobile">Liên hệ: 0356965894</a>
                    </div>
                    <div class="mail-help">
                        <svg class="ion-email__mobile" viewBox="0 0 22 22" role="presentation">
                        <g fill="none" fill-rule="evenodd">
                          <path stroke="#00badb" d="M.916667 10.08333367l3.66666667-2.65833334v4.65849997zm20.1666667 0L17.416667 7.42500033v4.65849997z"></path>
                          <path stroke="#1e2d7d" stroke-width="2" d="M4.58333367 7.42500033L.916667 10.08333367V21.0833337h20.1666667V10.08333367L17.416667 7.42500033"></path>
                          <path stroke="#1e2d7d" stroke-width="2" d="M4.58333367 12.1000003V.916667H17.416667v11.1833333m-16.5-2.01666663L21.0833337 21.0833337m0-11.00000003L11.0000003 15.5833337"></path>
                          <path d="M8.25000033 5.50000033h5.49999997M8.25000033 9.166667h5.49999997" stroke="#00badb" stroke-width="2" stroke-linecap="square"></path>
                        </g>
                      </svg>
                        <a href="mailto:vegefresh@gmail.com" class="email__mobile">freshvege@gmail.com</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Brand -->
        <a class="logo" href="#">
            <img class="logo__pc" src="/assets/tuyen/img/logo.png" alt="Logo" style="width:160px;">
            <img class="logo__mobile" src="/assets/tuyen/img/logo-mobile.png" alt="Logo" style="width:100px;">
        </a>
        <!-- Links -->
        <nav class="nav__pc">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-left">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/trangchu">Trang chủ</a>
                    </li>
                    <li class="nav-item nav-item-cuahang">
                        <a class="nav-link" routerLink="/cuahang">Cửa hàng
                        <i class="fa fa-chevron-down dropdown-icon"></i>
                      </a>
                        <ul class="category">
                            <li class="item-category" *ngFor="let cate of categorys">
                                <a routerLink="/cuahang/{{cate.id}}">{{cate.name}}</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gioithieu">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/chiase">Chia sẻ</a>
                    </li>
                </ul>
            </div>
        </nav>

        <ul class="navbar-nav nav-right">
            <li class="nav-item item-search">
                <a class="nav-link" (click)="displaySearch()"><i class="far fa-search transform-search"></i></a>
                <div class="dropdown-search">
                    <span class="box-triangle">
                    <svg viewBox="0 0 20 9" role="presentation">
                      <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff"></path>
                    </svg>
                  </span>
                    <!-- <div class="box-search">
                        <div class="title-search">TÌM KIẾM</div>
                        <div class="ng-autocomplete">
                            <ng-autocomplete [data]="datas" [searchKeyword]="keyword" placeholder="Tim kiếm sản phẩm..." (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' historyIdentifier="countries" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                            <ng-template #itemTemplate let-item>
                                <div class="row" routerLink='/cuahang/chitiet/{{item.category}}/{{item.id}}'>

                                    <div class="row-left">
                                        <div class=" name " [innerHTML]=" item.name | titlecase ">
                                        </div>
                                        <div class="price1 " [innerHTML]=" item.price | number "></div>
                                    </div>
                                    <div class="row-right ">
                                        <img src=" ./assets/BTruong/image-mix/{{item.img1}} " alt=" ">
                                    </div>

                                </div>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="found "></div>
                            </ng-template>
                        </div>
                        <div class="site-search ">
                        </div>
                    </div> -->
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="" type="button" data-toggle="modal" data-target="#popupModal"><i class="far fa-user "></i></a>
            </li>
            <li class="nav-item cart-home" (mouseover)="hideSearch()">
                <a class="nav-link " routerLink="/giohang"><i class="far fa-shopping-cart "></i></a>
                <span class="quantity ">{{numberItemInCart}}</span>
                <div class="block-minicart ">
                    <span class="box-triangle ">
                  <svg viewBox="0 0 20 9 " role="presentation ">
                    <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z
                                          " fill="#ffffff "></path>
                  </svg>
                </span>
                    <div class="minicart-content ">
                        <!-- <div class="minicart-close ">
                    <button type="button " class="close pr-3 pl-3 pt-1 pb-1 "><span>×</span></button>
                </div> -->
                        <div class="block-products">
                            <div class="title-block-minicart ">
                                Giỏ hàng
                            </div>
                            <div *ngIf="numberItemInCart!==0; then have else empty"></div>
                            <ng-template #empty>
                                <div class="title-empty-cart text-center mt-3">Giỏ hàng trống</div>
                                <img class="empty-cart text-center" src="/assets/tuyen/img/cart-empty.png" alt="empty cart">
                            </ng-template>
                            <ng-template #have>
                                <div class="list-products scrollbar scrollbar-primary pl-3 pr-3">
                                    <div class="item-cartmini" *ngFor="let item of itemsCart">
                                        <div class="thumb-item ">
                                            <a routerLink='/cuahang/{{item?.category}}/chitiet/{{item?.id}}'><img src="/assets/BTruong/image-mix/{{item.img1}}" alt=" " width="60px " height="60px "></a>
                                        </div>
                                        <div class="title-item pl-2">
                                            <a routerLink='/cuahang/{{item?.category}}/chitiet/{{item?.id}}' class="title">{{item.name}} </a>
                                            <div><span class="quantity-item ">{{item.quantity}} </span></div>
                                        </div>
                                        <div class="remove-price">
                                            <div class="mb-2 pb-2"><a (click)="removeProduct(item)" class="remove "><i class="fas fa-times "></i></a></div>
                                            <div class="price"><span></span>{{item.price}} </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>




                            <div class="total-cartmini mb-3 ml-3 pt-2 ">
                                <div href=" " class="title ">Tổng tiền:</div>
                                <div class="total-number "><span>{{totalCart}}</span></div>
                            </div>
                            <div class="text-center m-3 ">
                                <button type="button " class="btn-checkout vvv ">THANH TOÁN</button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </nav>
</div>

<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <app-popup-login></app-popup-login>
</div>
