.search-container {
  margin-left: 32px;
}

.logo {
  margin-left: 32px;
  padding-right: 28px;
}

.nav-fixed {
  top: 0;
  position: fixed;
  z-index: 10;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
  position: relative;
}

.nav-item {
  margin-top: 20px;
  font-size: 18px;
  padding: 4px;
}

.nav-left .nav-item a {
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  opacity: 60%;
}

.nav-left .nav-item a:hover {
  border-bottom: 2px solid #13aa2d;
}

.nav-link {
  color: #000;
}
.nav-link i {
  font-size: 28px;
}

.navbar-nav .quantity {
  margin-top: 100px;
  margin-left: 36px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #5ec717;
  border-radius: 50%;
  font-size: 12px;
  float: left;
  color: aliceblue;
  margin-top: -50px;
}

.search-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  font-size: 16px;
  width: 40px;
  height: 36px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box + label .search-icon {
  color: black;
}
.search-box + label .search-icon {
  color: black;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: black;
  font-weight: 100;
  cursor: pointer;
}

.container {
  padding: 2rem 0rem;
}

.btn-primary {
  color: #fff;
  background-color: #7AB541;
  border-color: #609133;
  margin-top: 16px;
  padding: 6px 24px;
  border: 2px solid transparent;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8ace4a;
  border-color: #609133;
  margin-top: 16px;
  padding: 6px 24px;
  border: 2px solid #5b7940;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #99c470;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #99c470;
}

.modal form {
  font-size: 12px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }

  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

.cart-home {
  position: relative;
}

.block-minicart {
  display: none;
}

.cart-home:hover .block-minicart {
  transition: all 1s linear;
  display: block;
}

.cart-home .block-minicart {
  background-color: white;
  position: absolute;
  transform: translate(-60%);
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.thumb a {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 3px;
  display: block;
}

.block-products .list-products .item-product .content-product {
  padding-left: 16px;
  text-align: left;
  flex-basis: 77%;
}

.block-products {
  padding-top: 1px;
}

.block-products .list-products {
  max-height: 320px;
  overflow-y: scroll;
}

.block-products .list-products .item-product .price-remove .btn-remove {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: url(/assets/NTrungData/cancel.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  opacity: 0.3;
  margin-top: -24px;
}

.block-products .list-products .item-product {
  width: 100%;
}

.lh-25 {
  line-height: 25px;
}

.border-bottom-cart {
  border-bottom: 2px solid #acacac;
  text-align: center;
}

.btn-incart {
  border-radius: 20px;
  width: 100%;
  color: #ebebeb;
}

.btn-red {
  background-color: #f04542;
}

.btn-red:focus {
  box-shadow: 0 0 0 0.2rem #5b7940;
}

.btn-green {
  background-color: #7AB541;
}

.btn:focus {
  box-shadow: 0 0 0 0 #ffffff;
}

.btn-red:not(:disabled):not(.disabled).active,
.btn-red:not(:disabled):not(.disabled):active {
  box-shadow: 0 0 0 0.2rem #ff9392;
  opacity: 90%;
}

.btn-green:not(:disabled):not(.disabled).active,
.btn-green:not(:disabled):not(.disabled):active {
  box-shadow: 0 0 0 0.2rem #bdff84;
  opacity: 90%;
}/*# sourceMappingURL=header.component.css.map */