.search-container {
  margin-left: 32px;
}

.logo {
  margin-left: 32px;
  padding-right: 28px;
}

.nav-fixed {
  top: 0;
  position: fixed;
  z-index: 10;
}

.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 1.1em;
  position: relative;
}

.nav-item {
  margin-top: 20px;
  font-size: 18px;
  padding: 4px;
}

.nav-left .nav-item a {
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  opacity: 60%;
}

.nav-left .nav-item a:hover {
  border-bottom: 2px solid #13aa2d;
}

.nav-link {
  color: #000;
}

.nav-link i {
  font-size: 28px;
}

.navbar-nav span {
  margin-top: 100px;
  margin-left: 36px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #5ec717;
  border-radius: 50%;
  font-size: 12px;
  float: left;
  color: aliceblue;
  margin-top: -50px;
}

.search-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s, -webkit-box-shadow 0.6s;
  font-size: 16px;
  width: 40px;
  height: 36px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 200px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}

.search-box + label .search-icon {
  color: black;
}

.search-box + label .search-icon {
  color: black;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: black;
  font-weight: 100;
  cursor: pointer;
}

.container {
  padding: 2rem 0rem;
}

.btn-primary {
  color: #fff;
  background-color: #7AB541;
  border-color: #609133;
  margin-top: 16px;
  padding: 6px 24px;
  border: 2px solid transparent;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8ace4a;
  border-color: #609133;
  margin-top: 16px;
  padding: 6px 24px;
  border: 2px solid #5b7940;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #99c470;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.1rem #99c470;
          box-shadow: 0 0 0 0.1rem #99c470;
}

.modal form {
  font-size: 12px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}

.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}
/*# sourceMappingURL=header.component.css.map */