<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img class="logo" src="/assets/tuyen/img/logo.png" alt="Logo" style="width:150px;"></a>

    <!-- Links -->
    <nav class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-left">
            <li class="nav-item">
                <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Cửa hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chia sẻ</a>
            </li>
        </ul>
    </nav>
    <form class="search-container nav-item" action="//llamaswill.tumblr.com/search">
        <input id="search-box" type="text" class="search-box" placeholder="Tìm kiếm..." />
        <a for="search-box"><i class="glyphicon glyphicon-search search-icon fas fa-search"></i></a>

        <!-- <input type="submit" id="search-submit" /> -->
    </form>
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#" type="button" data-toggle="modal" data-target="#loginModal"><i class="far fa-user"></i>Đăng nhập</a>
        </li>
        <li class="nav-item cart-home">
            <a class="nav-link" href="#"><i class="far fa-shopping-cart"></i></a>
            <span class="quantity">2</span>
            <div class="block-minicart">
                <div class="minicart-content">
                    <!-- <div class="minicart-close">
                        <button type="button" class="close pr-3 pl-3 pt-1 pb-1"><span>×</span></button>
                    </div> -->
                    <div class="block-products">
                        <div class="list-products p-3">
                            <div class="item-product d-flex pb-2 pt-2 border-bottom-cart">
                                <div class="thumb">
                                    <a href="">
                                        <img src="/assets/tuyen/img/thumb.jpg" alt="" width="70px" height="70px">
                                    </a>
                                </div>
                                <div class="content-product">
                                    <h4><a href="#">DỪA</a></h4>
                                    <div class="price-remove d-flex justify-content-between">
                                        <div class="lh-5"><span>2</span> x <span>16.000Đ</span></div>
                                        <a href="">
                                            <div class="btn-remove lh-5 p-3"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-product d-flex pb-2 pt-2 border-bottom-cart">
                                <div class="thumb">
                                    <a href="">
                                        <img src="/assets/tuyen/img/thumb.jpg" alt="" width="70px" height="70px">
                                    </a>
                                </div>
                                <div class="content-product">
                                    <h4><a href="#">DỪA</a></h4>
                                    <div class="price-remove d-flex justify-content-between">
                                        <div class="lh-5"><span>2</span> x <span>16.000Đ</span></div>
                                        <a href="">
                                            <div class="btn-remove lh-5 p-3"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-product d-flex pb-2 pt-2 border-bottom-cart">
                                <div class="thumb">
                                    <a href="">
                                        <img src="/assets/tuyen/img/thumb.jpg" alt="" width="70px" height="70px">
                                    </a>
                                </div>
                                <div class="content-product">
                                    <h4><a href="#">DỪA</a></h4>
                                    <div class="price-remove d-flex justify-content-between">
                                        <div class="lh-5"><span>2</span> x <span>16.000Đ</span></div>
                                        <a href="">
                                            <div class="btn-remove lh-5 p-3"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cost-products text-center border-bottom-cart mb-3 ml-3 mr-3 mt-1">
                            <div class="pb-3">Tạm tính:<span>10000đ</span></div>
                        </div>
                        <div class="list-btn-cart m-3">
                            <div class="m-1"> <button class="btn btn-incart d-block m-auto btn-green">Xem giỏ hàng</button></div>
                            <div class="m-1"> <button class="btn d-block m-auto btn-incart btn-red">Thanh toán</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-heart"></i></a>
        </li>
    </ul>
</nav>

<!-- modal login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">

                    <img src="/assets/tuyen/img/logo2.png" alt="" style="width:160px;">
                </div>
                <div class="d-flex flex-column text-center">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control btn-round" placeholder="Địa chỉ email...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control btn-round" placeholder="Mật khẩu của bạn...">
                        </div>
                        <a href="#" type="button" data-toggle="modal" data-target="#forgotModal" style="float:left;margin-left: 16px;">Quên mật khẩu?</a>
                        <br/>
                        <button type="button" class="btn btn-primary btn-nm btn-round">Đăng nhập</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">Bạn chưa có tài khoản? <a href="#a" type="button" data-toggle="modal" data-target="#signinModal" class="text-info"> Đăng ký ngay</a>.</div>
            </div>
        </div>
    </div>
</div>
<!-- forgot modal-->
<div class="modal fade" id="forgotModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <!-- <h4>Login</h4> -->
                    <img src="/assets/tuyen/img/logo2.png" alt="" style="width:160px;">
                </div>
                <div class="d-flex flex-column text-center">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control btn-round" id="email1" placeholder="Địa chỉ email...">
                        </div>


                        <button type="button" class="btn btn-primary btn-nm btn-round" style="padding: 6px 64px;">Gửi</button>
                        <br/>
                        <button type="button" class="btn btn-light btn-round" style="margin-top: 24px; padding: 6px 32px; background-color: rgb(223, 223, 223); border-color: #9b9b9b">Hủy</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- sign up modal -->
<div class="modal fade" id="signinModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <!-- <h4>Login</h4> -->
                    <img src="/assets/tuyen/img/logo2.png" alt="" style="width:160px;">
                </div>
                <div class="d-flex flex-column text-center">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control btn-round" placeholder="Địa chỉ email...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control btn-round" placeholder="Mật khẩu của bạn...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control btn-round" placeholder="Nhập lại mật khẩu..">
                        </div>

                        <br/>
                        <button type="button" class="btn btn-primary btn-nm btn-round" style="margin-top: 0px;">Đăng ký</button>
                        <br/>
                        <button type="button" class="btn btn-outline-dark btn-sm btn-round" style="margin-top: 32px;">Trở lại</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
