@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.search-container button {
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.fil {
    margin-top: 80px;
}

.search-container button:hover {
    background: #ccc;
}

.form {
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
}

.is-divider {
    height: 80px;
    background: #66A55F;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #e4e4e4;
}

.menu-danh-muc-san-pham-vertical-menu-container {
    background: chocolate;
    margin-top: 0px;
}

.col {
    margin-top: 50px;
    width: 300px;
    margin-left: 90px;
}

.menu {
    position: relative;
    margin-top: 0px;
}

.span-font {
    margin-top: 11px;
    font-weight: 500;
    margin-left: 20px;
    font-size: 14px;
}

.menu1 {
    position: absolute;
    left: 0px;
    list-style: none;
    height: 44px;
    width: 270px;
    background: #f8f8f8;
    border: 1px solid rgb(221, 220, 220);
}

.menu2 {
    position: absolute;
    left: 0px;
    top: 43px;
    list-style: none;
    height: 44px;
    width: 270px;
    background: #ffff;
    border: 1px solid rgb(221, 220, 220);
}

.menu3 {
    position: absolute;
    left: 0px;
    top: 86px;
    list-style: none;
    height: 44px;
    width: 270px;
    background: #f8f8f8;
    border: 1px solid rgb(221, 220, 220);
}

.menu4 {
    top: 129px;
    position: absolute;
    left: 0px;
    list-style: none;
    height: 44px;
    width: 270px;
    background: #ffff;
    border: 1px solid rgb(221, 220, 220);
}

.col2 {
    margin-top: 300px;
    width: 270px;
    margin-left: 106px;
}

.col3 {
    margin-top: 231px;
    width: 270px;
    margin-left: 106px;
}

.slidecontainer {
    width: 250px;
    margin-left: 9px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #e4e4e4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #66A55F;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.bottom {
    border: 1px solid #e4e4e4;
}

.small {
    display: flex;
    align-items: center;
}

.price {
    font-size: 12px;
}

.col4 {
    margin-top: 50px;
    width: 305px;
    font-family: 'Quicksand', sans-serif;
}

.product_list_widget {
    list-style: none;
    padding-left: 0px;
}

.product-hv .product-title {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 15px;
    padding-right: 15px;
    color: #212529;
}

.product-hv:hover .product-title {
    color: #fff;
}

.product-title p {
    padding-right: 4px;
}

.flex {
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    padding-top: 12px;
}

.product-hv .flex {
    background-color: #fff;
    height: 100%;
}

.product-hv:hover .flex {
    background-color: #66A55F;
    cursor: pointer;
}
