<div class="contact__wrapper">
    <div class="contact__wrapper">
        <ul class="contact__list">
            <li class="contact__item">
                <p class="contact__title">Hotline:</p>
                <p class="contact__content">0339551554</p>
            </li>
    
            <li class="contact__item">
                <p class="contact__title">Email:</p>
                <p class="contact__content">freshvege@gmail.com</p>
            </li>
    
            <li class="contact__item">
                <p class="contact__title">Địa chỉ:</p>
                <p class="contact__content">Đại học Nông lâm, Linh Xuân, Thủ đức.</p>
            </li>
        </ul>
    </div>
    
    <div class="evaluate__wrapper">
        <form class="form__wrapper">
            <div class="evaluate__title contact__title">Viết đánh giá</div>
            <input type="text" class="form-control" placeholder="Họ và tên">
            <input type="text" class="form-control" placeholder="Số điện thoại">
            <input type="text" class="form-control" placeholder="Email">
            <div class="rating">
                <i class="fas fa-star quick__icon icon__star"></i>
                <i class="fas fa-star quick__icon icon__star"></i>
                <i class="fas fa-star quick__icon icon__star"></i>
                <i class="fas fa-star quick__icon icon__star"></i>
                <i class="fas fa-star quick__icon icon__star"></i>
            </div>
            <textarea class="form-control" placeholder="Đánh giá"></textarea>
            <input type="submit" class="button__submit">
        </form>
    </div>
</div>