<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


<div class="header9">
    <div class="text-title">
        <div class="text-title-sub">
            <p class="p1" [routerLink]="['/trangchu']">Trang Chủ</p>
            <span>/</span>
            <p class="p2" [routerLink]="['/cuahang']">Sản Phẩm</p>
        </div>
    </div>
    <div class="text-center bg-breadcrumb" style="background-image : url('./assets/BTruong/image/bach.jpg') ; background-position : center; background-size: cover;">

    </div>

</div>


<div class="shop-page-title category-page-title page-title " style="max-width: 1245px;">

    <div class="page-title-inner flex-row  medium-flex-wrap container">
        <div class="flex-col flex-grow medium-text-center" style="margin-right: 10px; position: relative; font-size: 23px;">


        </div>
        <!-- .flex-left -->




        <!-- .flex-right -->

    </div>
    <!-- flex-row -->
