<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<section class="section section__container">
  <div class="thanks">
    <p class="thanks__title">Thành công</p>
    <div class="thanks__content">
      <ul class="thanks__list">
        <li class="thanks__item">Đơn hàng đã được hệ thống ghi nhận.</li>
        <li class="thanks__item">Cảm ơn quý khác đã tin tưởng đặt hàng tại <b>FRESH</b><b>VEGE</b>.</li>
        <li class="thanks__item">Chúng tôi sẽ liên hệ sớm nhất để xác nhận đơn hàng.</li>
        <li class="thanks__item">Xin quý khách vui lòng chuẩn bị số tiền tương ứng với giá trị đơn hàng.</li>
        <li class="thanks__item">Xin chân thành cảm ơn !!!</li>
      </ul>
      <div class="button" routerLink="/cuahang">Tiếp tục mua hàng<i class="far fa-shopping-cart "></i></div>
      <div class="social__wrapper">
        <a class="social__link" href="https://www.facebook.com/" target="blank"> <i class="fab fa-facebook-square social__icon"></i></a>
        <a class="social__link" href="https://www.gmail.com/" target="blank"><i class="fas fa-envelope social__icon"></i></a>
        <a class="social__link" href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+%C4%90%E1%BA%A1i+h%E1%BB%8Dc+N%C3%B4ng+L%C3%A2m+Tp.+H%E1%BB%93+Ch%C3%AD+Minh/@10.8711928,106.7895771,17z/data=!3m1!4b1!4m5!3m4!1s0x3175276398969f7b:0x9672b7efd0893fc4!8m2!3d10.8711875!4d106.7917658?hl=vi-VN" target="blank"><i class="fas fa-map-marker-alt social__icon"></i></a>
      </div>
    </div>
  </div>
  <div class="img__wrapper">
    <div class="img__overlay">
      <img src="../../../assets/NTrungData/image/thanks1.jpg" class="img__small">
    </div>
    <div class="img__overlay">
      <img src="../../../assets/NTrungData/image/thanks2.jpg" class="img__big">
    </div>
  </div>
</section>