.header {
    height: 200px;
    width: 100%;
}

.title-page {
    height: 200px;
    position: relative;
}

.title-pr {
    position: absolute;
    top: 74px;
    left: 687px;
    letter-spacing: 1px;
}

.bread-crumb {
    position: absolute;
    top: 112px;
    left: 633px;
}

a {
    margin-right: 20px;
    color: #fff;
}

span {
    margin-right: 20px;
    color: #fff;
}

.page-title-inner {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
}

.woocommerce-breadcrumb {
    color: black;
}

.flex-col {
    display: flex;
}

.shop-page-title {
    margin-top: 50px;
}
