<div class="related related__container">
    <ul class="related__list grid">
        <li class="related__item grid__item" *ngFor="let product of productsRelated">
            <div class="related__content" routerLink='/cuahang/{{product.category}}/chitiet/{{product.id}}'>
                <div class="related__img-box">
                    <img src="/assets/BTruong/image-mix/{{product.img1}}" alt="" class="">
                </div>
                <div class="related__controls">
                    <i class="far fa-shopping-cart related-icon" (click)="addToCart(product)"></i>
                    <span>|</span>
                    <i class="far fa-search related-icon" (click)="openDialog(product)"></i>
                </div>
                <span class="related__name">{{product.name}}</span>
                <span class="related__price">{{ product.price}}&#8363; </span>
                <div class="related__button" routerLink='/cuahang/{{product.category}}/chitiet/{{product.id}}'>
                    Thêm vào giỏ <i class="far fa-shopping-cart"></i>
                </div>
            </div>
        </li>
    </ul>
</div>


<!-- <div class="product__list grid">
    <div  *ngFor="let product of productsRelated">
        <app-product-item class="grid__item" [productItem]="product"></app-product-item>
    </div>
</div> -->
