@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.main {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-evenly;
    width: 95%;
    margin: 0rem!important;
    margin-top: 3em !important;
    margin-bottom: 5em !important;
}

.contact-title {
    display: none;
}

.form-container-item {
    padding-bottom: 20px;
}

p .map {
    flex: 1;
}

.form {
    max-width: 50%;
}

.conte {
    height: 8em;
    margin-bottom: 2em;
}

.conte textarea {
    height: 9em;
}

.button__submit {
    background: #66a55f;
    border-radius: 5px;
    padding: 6px 26px 6px;
    border: none;
    color: #fff;
    margin-top: 1em;
}


/* .image {
    width: 600px;
    height: 700px;
} */


/* img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    margin-left: 80px;
    margin-top: 70px;
} */

.button-1 {
    background-color: #66A55F;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
}

.form-container-1 {
    margin-left: 20%;
    margin-top: 127px;
}

.text-name {
    border-radius: 15px;
}

.form_lien_he {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    color: #222222;
    font-size: 16px;
    border: 1px solid rgb(190, 187, 187);
}

.form-container-2 {
    margin-left: 20%;
    margin-top: 20px;
}

.form-container-3 {
    margin-left: 20%;
    margin-top: 30px;
}

.form-container-4 {
    margin-left: 20%;
    margin-top: 30px;
}

.form-container-5 {
    margin-left: 20%;
    margin-top: 30px;
}

.btn-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container .evaluate__wrapper {
    width: 34em;
    margin-right: 2em;
}

.form-container .evaluate__wrapper .evaluate__title {
    margin-bottom: 2em;
    font-size: 1.5em;
    font-family: 'Quicksand';
    letter-spacing: 2px;
}

_ngcontent-vkt-c85 {
    margin-bottom: 2em;
}

.map {
    margin-right: 2em;
    width: 74%;
    max-width: 73%;
}

.map iframe {
    width: 100%;
    border: 0;
    padding-left: 5em;
}


/* mobilel */

@media screen and ( max-width: 46.1875em) {
    .main {
        display: block;
        font-family: 'Quicksand', sans-serif;
        margin: 0.3rem!important;
        margin-top: 2em !important;
        width: 98%;
    }
    .map iframe {
        max-width: 100%;
        width: 100%;
    }
    .form {
        margin-top: 2em;
        margin-bottom: 4em;
    }
    .form_lien_he {
        width: 100%;
        border-radius: 0.3125em;
    }
    .contact-title {
        display: block;
        font-size: 1.25em;
        font-family: 'Quicksand';
        margin: 0 0 2em;
    }
    .button-1 {
        width: 100%;
        color: #fff;
        letter-spacing: 0.0625em;
        background-color: #66A55F;
        border: none;
        color: white;
        padding: 0;
        cursor: pointer;
        border-radius: 0.3125em;
        height: 2.5em;
        margin-top: 0;
    }
    .form {
        min-width: 100%;
    }
    .form .evaluate__wrapper {
        min-width: 100%;
    }
    .conte .button__submit {
        padding: 6px 10em 6px;
        width: 100%;
    }
    .map {
        min-width: 100%;
    }
    .map iframe {
        width: 100%;
        border: 0;
        padding: 0em;
    }
    .form .evaluate__wrapper {
        min-width: 100%;
        margin: 0 auto;
    }
}


/* tablet */

@media only screen and ( min-width: 46.25em) and ( max-width: 63.9375em) {
    .main {
        display: block;
        font-family: 'Quicksand', sans-serif;
        margin: 0em !important;
        margin-left: 0.5em !important;
        width: 98%;
    }
    .map iframe {
        max-width: 100%;
        width: 96%;
        height: 37.5em
    }
    .form {
        margin-top: 2em;
        margin-bottom: 2 em;
        padding: 1em;
    }
    .form_lien_he {
        width: 100%;
        border-radius: 0.3125em;
    }
    .contact-title {
        display: block;
        font-size: 1.25em;
        font-family: 'Quicksand';
        margin: 0 0 2em;
    }
    .button-1 {
        width: 25%;
        color: #fff;
        letter-spacing: 0.0625em;
        background-color: #66A55F;
        border: none;
        color: white;
        padding: 0;
        cursor: pointer;
        border-radius: 0.3125em;
        height: 2.5em;
        margin-top: 0;
    }
    .form {
        margin-bottom: 4em;
        min-width: 100%;
    }
    .form .evaluate__wrapper {
        min-width: 100%;
    }
    .conte .button__submit {
        padding: 6px 3em 6px;
    }
    .map {
        margin-right: 2em;
        min-width: 100%;
    }
    .map iframe {
        width: 100%;
        border: 0;
        padding: 1em;
    }
    .form .evaluate__wrapper {
        min-width: 100%;
        margin: 0 auto;
    }
}