<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="main">
    <div class="map">
        <div class="image">
            <img src="./assets/BTruong/image/map.png" alt="">
        </div>
    </div>
    <div class="form">
        <div class="form-container">
            <div class="form-container-1">
                <span class="wpcf7-form-control-wrap text-name"><input type="text" name="text-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form_lien_he" id="text-name" aria-required="true" aria-invalid="false" placeholder="Họ và tên" /></span>
            </div>
            <div class="form-container-2">
                <span class="wpcf7-form-control-wrap email-contact"><input type="email" name="email-contact" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form_lien_he" id="email-contact" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
            </div>
            <div class="form-container-3">
                <span class="wpcf7-form-control-wrap tel-contact"><input type="tel" name="tel-contact" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form_lien_he" id="tel-contact" aria-required="true" aria-invalid="false" placeholder="Số điện thoại" /></span>
            </div>
            <div class="form-container-4">
                <span class="wpcf7-form-control-wrap text-address"><input type="text" name="text-address" value="" size="40" class="wpcf7-form-control wpcf7-text form_lien_he" id="text-address" aria-invalid="false" placeholder="Tiêu đề" /></span>
            </div>
            <div class="form-container-5">
                <span class="wpcf7-form-control-wrap textarea-noidung"><textarea name="textarea-noidung" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form_lien_he" id="textarea-noidung" aria-required="true" aria-invalid="false" placeholder="Nội dung" style="height: 120px;"></textarea></span>
            </div>
            <div class="btn">

                <input type="button" class="button" value="Gửi liên hệ">

            </div>



        </div>
    </div>
</div>