<div class="main text-center m-5">
    <div class="map ">

        <div class="image">

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7836.508995444659!2d106.7848658!3d10.8682377!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2sNong%20Lam%20University!5e0!3m2!1sen!2s!4v1626800279389!5m2!1sen!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="form text-center">

        <div class="form-container">
            <div class="evaluate__wrapper">
                <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" class="form__wrapper" [formGroup]="evaluateGroup">

                    <div class="evaluate__title contact__title">Liên hệ với chúng tôi</div>

                    <div class="form-container-item">
                        <input type="text" placeholder="Họ và tên" required formControlName="fristName" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.fristName.valid,'is-invalid':!evaluateGroup.controls.fristName.valid && evaluateGroup.controls.fristName.touched }">
                        <ng-container>
                            <div *ngIf=" evaluateGroup.controls.fristName.errors?.required && evaluateGroup.controls.fristName.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                            <div *ngIf=" evaluateGroup.controls.fristName.errors?.minlength && evaluateGroup.controls.fristName.touched" class="invalid-feedback">
                                Ít nhất 2 kí tự
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-container-item">
                        <input type="text" placeholder="Số điện thoại" required formControlName="phoneNum" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.phoneNum.valid,'is-invalid':!evaluateGroup.controls.phoneNum.valid && evaluateGroup.controls.phoneNum.touched}">
                        <ng-container>
                            <div *ngIf=" evaluateGroup.controls.phoneNum.errors?.required && evaluateGroup.controls.phoneNum.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                            <div *ngIf=" evaluateGroup.controls.phoneNum.errors?.pattern && evaluateGroup.controls.phoneNum.touched" class="invalid-feedback">
                                Ví dụ: 0123456789 / 8412345678
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-container-item">
                        <input type="email" placeholder="Email" required formControlName="email" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.email.valid, 'is-invalid':!evaluateGroup.controls.email.valid && evaluateGroup.controls.email.touched}">
                        <ng-container>
                            <div *ngIf="evaluateGroup.controls.email.errors?.required && evaluateGroup.controls.email.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                            <div *ngIf="evaluateGroup.controls.email.errors?.pattern && evaluateGroup.controls.email.touched" class="invalid-feedback">
                                Ví dụ: khachhang@gmail.com
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-container-item conte">
                        <textarea placeholder="Nội dung" required formControlName="content" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.content.valid, 'is-invalid':!evaluateGroup.controls.content.valid && evaluateGroup.controls.content.touched}"></textarea>
                        <ng-container>
                            <div *ngIf="evaluateGroup.controls.content.errors?.required && evaluateGroup.controls.content.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                        </ng-container>
                        <input type="submit" class="button__submit" [disabled]="evaluateGroup.invalid" value="Gửi">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
