@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.header {
    height: 200px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.title-page {
    height: 200px;
    position: relative;
}

.title-pr {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    letter-spacing: 1px;
    align-items: center;
}

.bread-crumb {
    position: absolute;
    top: 112px;
    left: 609px;
}

a {
    margin-right: 20px;
    color: #fff;
}

span {
    margin-right: 20px;
    color: #fff;
}

.page-title-inner {
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    font-family: 'Quicksand', sans-serif;
}

.woocommerce-breadcrumb {
    color: black;
}

.flex-col {
    display: flex;
}

.shop-page-title {
    margin-top: 50px;
}

.content {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content h2 {
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 62px;
    letter-spacing: 5px;
    font-family: 'Quicksand';
    font-weight: 600;
}


/* @keyframes animate {
    0%,
    100% {
        clip-path: polygon(0 100%, 0 12%, 6% 8%, 14% 6%, 21% 4%, 28% 3%, 35% 3%, 42% 6%, 47% 12%, 53% 15%, 60% 16%, 67% 18%, 72% 18%, 80% 18%, 86% 17%, 92% 16%, 99% 13%, 100% 100%);
    }
    50% {
        clip-path: polygon(0 100%, 0 12%, 7% 17%, 12% 19%, 17% 19%, 27% 19%, 31% 19%, 37% 18%, 46% 15%, 50% 12%, 57% 10%, 63% 6%, 70% 5%, 77% 3%, 84% 4%, 90% 5%, 95% 7%, 99% 10%, 100% 100%);
    }
} */

.text-center {
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* mobilel */

@media screen and ( max-width: 46.1875em) {
    .header {
        height: 7em;
        width: 100%;
        font-family: 'Quicksand', sans-serif;
    }
    .title-page {
        height: 7em;
        position: relative;
    }
    .content h2 {
        margin-bottom: 0;
        font-size: 2.625em;
        letter-spacing: 0.0625em;
    }
}


/* tablet */

@media only screen and ( min-width: 46.25em) and ( max-width: 63.9375em) {
    .title-page {
        height: 10em;
        position: relative;
    }
}