 .image-introduce {
     background-image: url('/assets/tuyen/img/banner-introduce.png');
     height: 200px;
     position: relative;
 }

 .title-introduce {
     color: rgb(255, 255, 255);
     font-size: 62px;
     font-weight: 600;
     letter-spacing: 4px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .under-line {
     border-bottom: 2px solid #fff;
     width: 100px;
     position: absolute;
     top: 59%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .content-introduce {
     margin: 50px;
     font-size: 20px;
 }

 .content-introduce .content {
     margin-top: 24px;
     letter-spacing: 0.5px;
     line-height: 1.5;
 }

 @media only screen and ( max-width:46.1875em) {
     .content-introduce {
         margin: 36px;
         font-size: 20px;
     }
     .title-introduce {
         color: rgb(255, 255, 255);
         font-size: 24px;
         font-weight: 600;
     }
     .image-introduce {
         background-image: url('/assets/tuyen/img/banner-introduce.png');
         height: 200px;
         position: relative;
     }
 }

 @media only screen and ( min-width:46.25em) and (max-width:63.9375em) {}
