 .image-introduce {
     background-image: url('/assets/tuyen/img/banner-introduce.png');
     height: 400px;
     position: relative;
 }
 
 .title-introduce {
     color: rgb(255, 255, 255);
     font-size: 32px;
     font-weight: 1000;
     letter-spacing: 4px;
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .under-line {
     border-bottom: 2px solid #fff;
     width: 100px;
     position: absolute;
     top: 75%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .content-introduce .content {
     letter-spacing: 0.5px;
     line-height: 1.5;
 }