<div class="image-introduce">
    <div class="title-introduce text-center">GIỚI THIỆU</div>
    <div class="under-line"></div>
</div>
<div class="content-introduce ml-5 mr-5 pb-5">
    <div class="ml-5 mr-5">
        <div class="content text-center ml-5 mr-5 pt-5">Cửa hàng nông sản <b>VEGEFRESH</b> là một website cung cấp thực phẩm an toàn, nông sản sạch cho người dân. Với mong muốn mang tới mọi gia đình những thực phẩm an toàn nhất trước mối lo ngại về thực phẩm bẩn tại Việt Nam.</div>
    </div>

    <div class="content text-center ml-5 mr-5 pt-2">Cùng chung tay xây dựng một cuộc sống an toàn và chất lượng cho người dân Việt Nam

    </div>
</div>