<div class="quick">
    <div class="image">
        <div class="image-container">
            <div class="image-lg">
                <img style="width: 320px; height: 300px;" src="https://cdn.shopify.com/s/files/1/0554/6006/9585/products/9.1.jpg?v=1616138341" alt="">
            </div>
            <div class="image-sm">
                <div class="image-sm-1">
                    <img style="width: 100px; height: 100px;" src="https://cdn.shopify.com/s/files/1/0554/6006/9585/products/9.2.jpg?v=1616138341" alt="">
                </div>
                <div class="image-sm-1">
                    <img style="width: 100px; height: 100px;" src="https://cdn.shopify.com/s/files/1/0554/6006/9585/products/9.3.jpg?v=1616138341" alt="">
                </div>
                <div class="image-sm-1">
                    <img style="width: 100px; height: 100px;" src="https://cdn.shopify.com/s/files/1/0554/6006/9585/products/9.4.jpg?v=1616138341" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="title1">
            <p style="margin-bottom: 0px; font-weight: 400px;">Cà chua tự nhiên</p>
            <div class="price-wrapper">
                <span class="price">
                  <span class="price "><span style="color: #acabab; font-size: 14px;font-weight: 500; text-decoration: line-through;"
                    class="woocommerce-Price-amount amount ">320,000&nbsp;<span class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                </span>
                <br>
                <span style="color: #86ba09; font-size: 18px;font-weight: 500;" class="woocommerce-Price-amount amount">288,000&nbsp;<span
            class="woocommerce-Price-currencySymbol">&#8363;</span></span>
                </span>
            </div>
        </div>
        <div class="line">
            <hr style="font-size: 16px;">
        </div>
        <div class="title2">
            <p class="over">Cà chua rất giàu vitamin A, C, K, vitamin B6, kali, folate, thiamin, magiê, niacin, đồng và phốt pho, là những vi chấtcần thiết để duy trì một sức khỏe tốt. Điều tuyệt vời hơn ở cà chua là chúng chứa rất ít cholesterol, chất béo
                bão hòa, natri và calo. Bạn có thể ăn cà chua sống kẹp với bánh mì, làm salad, nước sốt, sinh tố, thậm chí nấu súp. Sau đây là 9 lợi ích của cà chua.</p>
        </div>
        <div class="btn-cont">
            <div class="btn">
                <div class="cart">
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="quantity" style="border-radius: 10px;">
                            <input type="button" value="+" class="plus">
                            <input type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty" size="4">
                            <input type="button" value="-" class="minus">
                        </div>
                    </div>
                </div>
                <div class="btn-cart-1">
                </div>
                <button type="button" class="btn btn-success" style="background-color: #86ba09;  height: 40px;font-size: 16px;
          width: 147px;
          border-radius: 10px;"> <i class="fas fa-cart-plus"></i> Add to cart</button>
            </div>
        </div>
        <div class="title3">
            <p class="tag">Mã : <span class="list">FR001</span></p>
            <p class="tag">Danh Mục : <span class="list">Trái Cây</span></p>
            <p class="tag">Tag : <span class="list" style=" font-style: italic;">cà chua, cà chua tự nhiên</span></p>
        </div>
    </div>

</div>