<div class="blog-content">
    <div class="blog-deatails">
        <div class="image">
            <img src="./assets/BTruong/image-mix/{{ blogInfor?.imageBl }}" alt="">
        </div>
        <div class="titl">
            <p class="p1">{{blogInfor?.title}}</p>
            <p class="p2">{{blogInfor?.time}}</p>
        </div>
        <div class="cont">
            <p>{{blogInfor?.content1}}</p>
            <p>{{blogInfor?.content2}}</p>
        </div>
    </div>
    <div class="author">
        <div class="title-author">
            <p>Tác giả bài viết</p>
        </div>
        <div class="infor-author">
            <div class="image-author">
                <img src="./assets/BTruong/image-mix/{{ blogInfor?.imageAuthor }}" alt="">
            </div>
            <div class="infor-detail">
                <div class="name-author">
                    <p>{{blogInfor?.nameAuthor}}</p>
                </div>
                <div class="related-author">
                    <p style="    word-spacing: 2px;">{{blogInfor?.story}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="blog-comment">

    <div class="form">

        <div class="form-container">
            <div class="evaluate__wrapper">
                <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" class="form__wrapper" [formGroup]="evaluateGroup">

                    <div class="evaluate__title contact__title">Để lại bình luận
                    </div>

                    <div class="form-container-item">
                        <input type="text" placeholder="Họ và tên" required formControlName="fristName" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.fristName.valid,'is-invalid':!evaluateGroup.controls.fristName.valid && evaluateGroup.controls.fristName.touched }">
                        <ng-container>
                            <div *ngIf=" evaluateGroup.controls.fristName.errors?.required && evaluateGroup.controls.fristName.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                            <div *ngIf=" evaluateGroup.controls.fristName.errors?.minlength && evaluateGroup.controls.fristName.touched" class="invalid-feedback">
                                Ít nhất 2 kí tự
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-container-item">
                        <input type="text" placeholder="Số điện thoại" required formControlName="phoneNum" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.phoneNum.valid,'is-invalid':!evaluateGroup.controls.phoneNum.valid && evaluateGroup.controls.phoneNum.touched}">
                        <ng-container>
                            <div *ngIf=" evaluateGroup.controls.phoneNum.errors?.required && evaluateGroup.controls.phoneNum.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                            <div *ngIf=" evaluateGroup.controls.phoneNum.errors?.pattern && evaluateGroup.controls.phoneNum.touched" class="invalid-feedback">
                                Ví dụ: 0123456789 / 8412345678
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-container-item">
                        <input type="email" placeholder="Email" required formControlName="email" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.email.valid, 'is-invalid':!evaluateGroup.controls.email.valid && evaluateGroup.controls.email.touched}">
                        <ng-container>
                            <div *ngIf="evaluateGroup.controls.email.errors?.required && evaluateGroup.controls.email.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                            <div *ngIf="evaluateGroup.controls.email.errors?.pattern && evaluateGroup.controls.email.touched" class="invalid-feedback">
                                Ví dụ: khachhang@gmail.com
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-container-item conte">
                        <textarea placeholder="Nội dung" required formControlName="content" [ngClass]="{'form-control': true,'is-valid': evaluateGroup.controls.content.valid, 'is-invalid':!evaluateGroup.controls.content.valid && evaluateGroup.controls.content.touched}"></textarea>
                        <ng-container>
                            <div *ngIf="evaluateGroup.controls.content.errors?.required && evaluateGroup.controls.content.touched " class="invalid-feedback">
                                Không để trống
                            </div>
                        </ng-container>
                        <input type="submit" class="button__submit" [disabled]="evaluateGroup.invalid">
                    </div>
                </form>
            </div>
        </div>
        <!-- <form>
            <div class="form-group" style="margin-bottom: 2 rem;">
                <label for="formGroupExampleInput" style="font-size: 15px;max-width: 1.5 rem; word-spacing: 1px;margin-left: 0.2em;">Để lại nhận
          xét và cùng chia sẻ với chúng tôi.</label>
                <div class="form-container-5">
                    <span class="form-control" class="wpcf7-form-control-wrap textarea-noidung"><textarea name="textarea-noidung"
              cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form_lien_he"
              id="textarea-noidung" aria-required="true" aria-invalid="false" placeholder="" style="height: 120px;border-radius: 5px; font-family: 'Quicksand', sans-serif;font: 14px;   width: 100%;
                      /* color: red; */
                      height: 100px;
                      border: 1px solid #ced4da;"></textarea></span>
                </div>

            </div>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Họ và tên">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Số điện thoại">
                </div>
            </div>
        </form> -->
        <!-- <div class="btn">

            <input type="button" class="button" value="Gửi bình luận">

        </div> -->
    </div>
</div>