.container {
    max-width: 1470px;
}

.col-sm-4 {
    display: flex;
    justify-content: center;
}


/* mobilel */

@media screen and ( max-width: 46.1875em) {
    .navbar-header {
        border: 1px solid gray;
        margin-top: 2em;
    }
    .col-sm-4 {
        width: 100%;
        display: block;
    }
    .col-sm-8 {
        margin-bottom: 20%;
    }
}


/* tablet */

@media only screen and ( min-width: 46.25em) and ( max-width: 63.9375em) {
    .col-sm-8 {
        margin-bottom: 13%;
    }
}
