.item-product-home {
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.item-product-home:hover .box-img img {
    transform: scale(1.1);
    transition: all .4s linear
}

.item-product-home .box-detail {
    position: relative;
}

.item-product-home .box-detail .cart__mobile {
    background-color: #66A55F;
    display: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 0;
}

.item-product-home:hover .appear-icon {
    display: flex;
}

.item-product-home:hover .appear-icon span {
    display: inline;
    border-left: 2px solid rgb(129, 129, 129);
}

.item-product-home:hover .appear-icon span {
    flex: 0;
}

.appear-icon i {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.appear-icon a:hover i {
    color: #66A55F;
    transform: scale(1.1);
    font-weight: 500;
}

.item-product-home:hover .appear-icon a {
    flex: 1;
}

.appear-icon {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
}

.item-product-home:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.item-product-home .box-detail {
    padding-top: 32px;
}

.item-product-home .box-detail .box-infor .name-product {
    padding: 32px 8px 8px;
}

.item-product-home .box-detail .box-infor .price {
    color: #66A55F;
    padding: 8px;
    font-weight: 700;
}

@media only screen and ( max-width:46.1875em) {
    .item-product-home .box-detail .cart__mobile {
        display: block;
    }
    .item-product-home {
        padding-bottom: 0px;
    }
    .item-product-home:hover .appear-icon {
        display: none;
    }
    .item-product-home .box-detail {
        padding-top: 8px;
    }
    .item-product-home .box-detail .box-infor .name-product {
        padding: 8px 8px 8px;
    }
}

@media only screen and ( min-width:46.25em) and (max-width:63.9375em) {
    .item-product-home .box-detail .cart__mobile {
        display: block;
    }
    .item-product-home {
        padding-bottom: 0px;
    }
    .item-product-home:hover .appear-icon {
        display: none;
    }
    .item-product-home .box-detail {
        padding-top: 8px;
    }
    .item-product-home .box-detail .box-infor .name-product {
        padding: 8px 8px 8px;
    }
}
