<div class="item-product-home">
    <div class="box-image">
        <a href="">
            <img src="./assets/BTruong/image-mix/FR022.jpg" alt="">
        </a>

        <!-- <div class="appear">
            <div class="list-icon text-center">
                <a href="" class="" title="Thêm vào giỏ hảng"> <i class="far fa-cart-plus"></i></a>
                <span class="font-weight-bold">|</span>
                <a href="" class="" title="Xem nhanh"> <i class="far fa-search"></i></a>
            </div>

        </div> -->
    </div>
    <div class="box-text text-center">
        <div class="text-title">Rau mồng tơi túi 500g</div>
        <div class="text-discount"><del>20.000Đ</del></div>
        <div class="text-price font-weight-bold">15.0000đ</div>
    </div>
    <a class="btn-cart__mobile text-center">
        <a href="" class="">Thêm vào giỏ<i class="far fa-shopping-cart"></i></a>
    </a>
</div>
