<div class="item-product-home">
    <div class="box-image">
        <a href="#">
            <img src="./assets/tuyen/img/mau1.jpg" alt="" style="width:100%">
        </a>

        <div class="appear">
            <div class="text-center">
                <a href="" class="pl-2 pr-2 ml-5 p-2" title="Thêm vào giỏ hảng"> <span class="m-auto fas fa-cart-plus"></span></a>
                <span class="p-2 font-weight-bold">|</span>
                <a href="" class="pl-2 pr-2 mr-5 p-2" title="Xem nhanh"> <span class="m-auto fas fa-search"></span></a>
            </div>

        </div>
    </div>
    <div class="box-text text-center">
        <div class="text-title font-weight-bold">Dừa</div>
        <div class="text-discount"><del>20.000Đ</del></div>
        <div class="text-price font-weight-bold">15.0000đ</div>
    </div>
</div>