
.layout-box{
    padding: 20px;
    font-weight: bold;
    color: #707070;
    border: 1px solid #d3d3d3;
    box-shadow: 0 2px 4px 0 #d3d3d3, 0 3px 10px 0 #d3d3d3;;
   
    .title{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        color: #66a55f;
    }

    .content{
        justify-content: center;

        .title-content{
            border-bottom: 1px solid #d3d3d3;
        }

        .tag{
            display: flex;
            padding: 10px 0px;
        }
    }

    .logo{
        font-size: 15px;
        text-align: center;
        margin: 10px auto;
        width: 260px;
    }

    .image{
        margin: 0 auto;
        width: 80px;
        height: 50px;
        background: url(../../../../assets/tuyen/img/logo.png);
        background-repeat: no-repeat;
        background-size: 80px;
    }

    .name{
        width: 130px;
    }

    .amount{
        margin-right: 40px;
        font-size: 12px;
        display: flex;

        .unit-price{
            width: 45px;
            color: #66a55f;
            text-align: right;
        }

        div{
            margin: 0 2px;
        }
    }


    .total{
        margin-left: 20px;
        color: #66a55f;
        text-align: right;
        width: 100px;
    }


    

    .list-product{
        .product{
            border-bottom: 1px dashed #d3d3d3;
        }
    }

    .bill{
        .bill-title{
            display: flex;

            .bill-title{
                width: 50%;
            }

            .bill-price{
                color: #66a55f;
                width: 50%;
                text-align: right;
            }
        }
    }
}