<div class="layout-box">
  <div class="title">Hóa đơn</div>
  <div class="content">
    <!-- title content -->
    <div class="title-content tag">
      <div class="name">Sản phẩm</div>
      <div class="amount">
        <div>1</div>
        <div style="color: #7ab541">x</div>
        <div class="unit-price">Đơn giá</div>
      </div>
      <div class="total">Tổng</div>
    </div>

    <!-- product -->
    <div class="list-product">
      <div class="product tag" *ngFor="let item of [1, 2, 3, 4]">
        <div class="name">Xoài</div>
        <div class="amount">
          <div>1</div>
          <div style="color: #7ab541">x</div>
          <div class="unit-price">500.000</div>
        </div>
        <div class="total">5.500.000</div>
      </div>
    </div>

    <!-- bill -->
    <div class="bill">
      <div class="bill-title tag">
        <div class="bill-title">Tạm tính</div>
        <div class="bill-price">5.000.000</div>
      </div>
      <div class="bill-title tag">
        <div class="bill-title">Giao hàng</div>
        <div class="bill-price">5.000.000</div>
      </div>
      <div class="bill-title tag" style="border-bottom: 1px solid #707070">
        <div class="bill-title">Giảm giá</div>
        <div class="bill-price">5.000.000</div>
      </div>
      <div class="bill-title tag">
        <div class="bill-title">Tổng cộng</div>
        <div class="bill-price">5.000.000</div>
      </div>
    </div>
  </div>
  <div class="logo">Cảm ơn quý khách đã tin tưởng sử dụng dịch vụ của chúng tôi !!!</div>
  <div class="image"></div> 
  </div>

