<div class="info">
  <div class="product">
    <div class="product-button"></div>
    <img
      class="product-image"
      src="../../../assets/BTruong/image-mix/FR040.jpg"
      alt=""
    />
    <span class="product-name font-weight-bold">Xoài</span>
  </div>
  <div class="price font-weight-bold">500.000 &#8363;</div>
  <div class="amount">
    <div class="btn minus"></div>
    <input type="text" />
    <div class="btn plus"></div>
  </div>
  <div class="total price font-weight-bold" style="color: #66a55f">
    5.000.000 &#8363;
  </div>
</div>
