<div class="title">
  <div class="product tag font-weight-bold">Sản phẩm</div>
  <div class="price tag font-weight-bold">Đơn giá</div>
  <div class="amount tag font-weight-bold">Số lượng</div>
  <div class="total tag font-weight-bold">Tổng</div>
</div>
<div class="item" *ngFor="let i of [1, 2, 3]">
  <div class="product tag">
    <div class="btn btn-remove"></div>
    <div class="image"></div>
    <div class="name">
      <p><b>Xoài</b></p>
    </div>
  </div>
  <div class="price tag"><b>200.000&#8363;</b></div>
  <div class="amount tag">
    <div class="change-amount">
      <div class="btn-minus small-square"></div>
      <input class="amount" type="text" #box (keyup)="getValue(box.value)" maxlength="3" value="{{changeNum}}"/>
      <div class="btn-plus small-square"></div>
    </div>
  </div>
  <div class="total tag value"><b>500.000&#8363;</b></div>
</div>
<div class="controls">
  <button class="btn view-product">Xem thêm sản phẩm</button>
</div>
