<ul class="evaluate__list">
    <li class="evaluate__item">
        <div class="evaluate__title">
            <p class="evaluate__name">Nguoi dung</p>
            <div class="evaluate__rate">
                <i class="fas fa-star evaluate__icon icon__star"></i>
                <i class="fas fa-star evaluate__icon icon__star"></i>
                <i class="fas fa-star evaluate__icon icon__star"></i>
                <i class="fas fa-star evaluate__icon icon__star"></i>
                <i class="fas fa-star evaluate__icon icon__star"></i>
            </div>
        </div>
        <p class="evaluate__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quod hic ab commodi incidunt quibusdam rem et sed. Ad, quidem.</p>
        <div class="evaluate__controls">
            <a class="evaluate__button"><i class="far fa-thumbs-up evaluate__icon"></i> Thích</a>
            <a class="evaluate__button"><i class="far fa-thumbs-down evaluate__icon"></i> Không thích</a>
        </div>
    </li>
</ul>
