/* ==================== GOOGLE FONT ==================== */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ==================== MNI RESET CSS ==================== */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* Evaluate */
.evaluate__item{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.evaluate__title{
  display: flex;
  gap: 1.5rem;
}

.evaluate__name{
  font-weight: 600;
}

.icon__star{
  color: hsl(34, 100%, 65%);
}

.evaluate__icon{
  font-size: 1rem;
  margin-right: 4px;
}

.evaluate__content, .evaluate__controls{
  padding: 0 0.75rem;
}

.evaluate__controls{
  display: flex;
  gap: 1.5rem;
}

.evaluate__button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  user-select: none;
}

.evaluate__button:hover{
  transform: scale(1.1);
}

.evaluate__button:active{
  transform: scale(0.9);
}

.is-like{
  color: hsl(114, 28%, 51%);
}

.is-dislike{
  color: hsl(1, 89%, 61%);
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  .evaluate__list{
    margin: 0 3rem;
  }
}
