<div class="link__wrapper">
    <ul class="link__list">
        <li class="link__item" routerLink="/cuahang">Cửa hàng</li>
        <li class="link__item">/</li>
        <li class="link__item" routerLink="/cuahang/{{productInfo?.category}}">{{productInfo?.category}}</li>
        <li class="link__item">/</li>
        <li class="link__item">{{productInfo?.name}}</li>
    </ul>
</div>

<div class="info__container">
    <div class="img__wrapper">
        <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [loop]="true" [spaceBetween]="10" [navigation]="true" [thumbs]="{ swiper: thumbsSwiper }" class="mySwiper2">
            <ng-template swiperSlide>
                <img class="swiper__img" src="./assets/BTruong/image-mix/{{ productInfo?.img1 }}" />
            </ng-template>
            <ng-template swiperSlide>
                <img class="swiper__img" src="./assets/BTruong/image-mix/{{ productInfo?.img2 }}" />
            </ng-template>
            <ng-template swiperSlide>
                <img class="swiper__img" src="./assets/BTruong/image-mix/{{ productInfo?.img3 }}" />
            </ng-template>
            <ng-template swiperSlide>
                <img class="swiper__img" src="./assets/BTruong/image-mix/{{ productInfo?.img2 }}" />
            </ng-template>
        </swiper>

        <swiper (swiper)="thumbsSwiper = $event" [loop]="true" [spaceBetween]="10" [slidesPerView]="4" [freeMode]="true" [watchSlidesVisibility]="true" [watchSlidesProgress]="true" class="mySwiper img__nav">

            <ng-template swiperSlide>
                <div class="img__nav-item">
                    <img src="./assets/BTruong/image-mix/{{ productInfo?.img1 }}" />
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="img__nav-item">
                    <img src="./assets/BTruong/image-mix/{{ productInfo?.img2 }}" />
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="img__nav-item">
                    <img src="./assets/BTruong/image-mix/{{ productInfo?.img3 }}" />
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="img__nav-item">
                    <img src="./assets/BTruong/image-mix/{{ productInfo?.img2 }}" />
                </div>
            </ng-template>
        </swiper>
    </div>

    <!-- Quick info -->
    <div class="quick__wrapper">
        <p class="quick__name">{{productInfo?.name}}</p>
        <div class="controls__wrapper">
            <p class="quick__price">{{productInfo?.price| currency: "VND"}}</p>
            <div class="controls__amount">
                <div class="button button__small button__minus" (click)="down(inputQuantityElementDetail,productInfo)">
                    <i class="fas fa-minus button__icon"></i>
                </div>

                <input class="input__small" #inputQuantityElementDetail type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="3" value="{{ amount }}" (input)="updateQuantity(inputQuantityElementDetail)"
                />

                <div class="button button__small button__plus">
                    <i class="fas fa-plus button__icon" (click)="up(inputQuantityElementDetail,productInfo)"></i>
                </div>
            </div>
        </div>

        <ng-container>
            <div class="quick__button button button__medium button__green" *ngIf="productInfo?.quantity" (click)="addToCart(inputQuantityElementDetail)">
                Thêm vào giỏ
            </div>

            <div class="quick__button button button__medium button__red" *ngIf="!productInfo?.quantity">
                Hết hàng
            </div>
        </ng-container>

        <ul class="quick__list">
            <!-- Item -->
            <li class="quick__item">
                <p class="quick__title">Đánh giá:</p>
                <div class="quick__content">
                    <i class="fas fa-star quick__icon icon__star"></i>
                    <i class="fas fa-star quick__icon icon__star"></i>
                    <i class="fas fa-star quick__icon icon__star"></i>
                    <i class="fas fa-star quick__icon icon__star"></i>
                    <i class="fas fa-star quick__icon icon__star"></i>
                </div>
            </li>

            <!-- Item -->
            <li class="quick__item">
                <p class="quick__title">Tình trạng:</p>
                <ng-container>
                    <div class="quick__content" *ngIf="productInfo?.quantity">
                        <i class="fas fa-check quick__icon icon__check"></i> Còn hàng
                    </div>
                    <div class="quick__content" *ngIf="!productInfo?.quantity">
                        <i class="fas fa-ban quick__icon icon__ban"></i> Hết hàng
                    </div>
                </ng-container>
            </li>

            <!-- Item -->
            <li class="quick__item">
                <p class="quick__title">Chứng nhận:</p>
                <div class="quick__content">Global GAP, USD, EU.</div>
            </li>

            <!-- Item -->
            <li class="quick__item">
                <p class="quick__title">Xuất xứ:</p>
                <div class="quick__content">{{productInfo?.origin}}</div>
            </li>

        </ul>
    </div>
</div>
