<div class="info__container">
        <!-- Image -->
        <div class="img__wrapper">
            <img src="../../../assets/NTrungData/image/product-11-470x470.jpg" alt="" class="img__main">

            <div class="input__group">
                <input type="radio">
                <input type="radio">
                <input type="radio">
            </div>
    
            <ul class="img__list">
                <li class="img__item">
                    <img src="../../../assets/NTrungData/image/product-24-470x470.jpg" alt="" class="img__sub">
                </li>
    
                <li class="img__item">
                    <img src="../../../assets/NTrungData/image/product-24-470x470.jpg" alt="" class="img__sub">
                </li>
    
                <li class="img__item">
                    <img src="../../../assets/NTrungData/image/product-24-470x470.jpg" alt="" class="img__sub">
                </li>
            </ul>
        </div>
    
        <!-- Quick info -->
        <div class="quick__wrapper">
            <p class="quick__name">Quả quất hữu cơ túi 300g 30 trái</p>
            <div class="controls__wrapper">
                <p class="quick__price">20000&#8363;</p>
                <div class="controls__amount">
                    <div class="button button__small button__minus" >
                      <i class="fas fa-minus button__icon"></i>
                    </div>
      
                    <input type="text" class="input__small" value="1" />
      
                    <div class="button button__small button__plus">
                      <i class="fas fa-plus button__icon"></i>
                    </div>
                  </div>
            </div>
    
            <div class="quick__button button button__medium button__green">
                Thêm vào giỏ
            </div>
    
            <ul class="quick__list">
                <!-- Item -->
                <li class="quick__item">
                    <p class="quick__title">Đánh giá:</p>
                    <div class="quick__content">
                        <i class="fas fa-star quick__icon icon__star"></i>
                        <i class="fas fa-star quick__icon icon__star"></i>
                        <i class="fas fa-star quick__icon icon__star"></i>
                        <i class="fas fa-star quick__icon icon__star"></i>
                        <i class="fas fa-star quick__icon icon__star"></i>
                    </div>
                </li>
    
                <!-- Item -->
                <li class="quick__item">
                    <p class="quick__title">Tình trạng:</p>
                    <div class="quick__content">
                        <i class="fas fa-check quick__icon icon__check"></i> Còn hàng
                    </div>
                </li>
    
                <!-- Item -->
                <li class="quick__item">
                    <p class="quick__title">Chứng nhận:</p>
                    <div class="quick__content">Global GAP, USD, EU.</div>
                </li>
    
                <!-- Item -->
                <li class="quick__item">
                    <p class="quick__title">Xuất xứ:</p>
                    <div class="quick__content">Việt Nam</div>
                </li>
    
            </ul>
        </div>
    
</div>