.container {
  width: 830px;
  color: #4d4b4b;
  margin-top: 30px;
  margin-bottom: 50px;
}
.container .title {
  border-bottom: #4d4d4d solid 1px;
  display: flex;
  justify-content: center;
}
.container .title .product {
  padding-left: 55px;
  width: 300px;
}
.container .title .price {
  text-align: center;
  width: 100px;
}
.container .title .amount {
  text-align: center;
  width: 300px;
}
.container .title .total {
  text-align: center;
  width: 100px;
}
.container .info {
  margin: 20px 0px;
  justify-content: center;
  display: flex;
  border-bottom: #4d4b4b dashed 1px;
  padding-bottom: 20px;
}
.container .info .product {
  width: 300px;
  display: flex;
}
.container .info .product .product-button {
  width: 25px;
  height: 25px;
  padding-top: 110px;
  opacity: 0.4;
  transition: transform 0.2s;
  background: url(/../../../../assets/NTrungData/cancel.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.container .info .product .product-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(120%);
}
.container .info .product .product-button:active {
  opacity: 1;
}
.container .info .product .product-image {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  transition: transform 0.5s;
}
.container .info .product .product-image:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.container .info .product .product-name {
  padding-top: 50px;
  width: 135px;
}
.container .info .price {
  text-align: right;
  padding-top: 50px;
  width: 100px;
}
.container .info .amount {
  width: 300px;
  padding-top: 45px;
  justify-content: center;
  display: flex;
}
.container .info .amount input {
  text-align: center;
  width: 50px;
  height: 30px;
  border: #d7d7d7 solid 1px;
}
.container .info .amount .tag {
  margin: 0 auto;
  background-color: red;
  width: 30px;
  height: 30px;
}
.container .info .amount .btn {
  width: 30px;
  height: 30px;
  opacity: 0.5;
}
.container .info .amount .btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.container .info .amount .btn:active {
  opacity: 1;
}
.container .info .amount .minus {
  background: url(/../../../assets/NTrungData/minus.svg);
  background-color: #d7d7d7;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.container .info .amount .plus {
  background: url(/../../../assets/NTrungData/plus.svg);
  background-color: #d7d7d7;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.container .total {
  width: 100%;
}
.container .total__container {
  display: flex;
  margin-bottom: 10px;
}
.container .total__title {
  font-weight: bold;
  width: 300px;
  padding-left: 25px;
}
.container .total__input {
  align-items: center;
  display: flex;
}
.container .total__input input {
  width: 100px;
}
.container .total__input input:nth-child(1) {
  background: #f2f2f2;
  text-align: center;
  border: none;
  outline: none;
  padding: 2px;
}
.container .total__input input:nth-child(2) {
  margin: 0 100px;
  background: #66a55f;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.container .total__input input:nth-child(2):hover {
  background: #73ac6c;
}
.container .total__input input:nth-child(2):active {
  background: #66a55f;
}
.container .total__price {
  font-weight: bold;
  color: #66a55f;
  width: 100px;
  text-align: right;
  float: right;
}
.container .total p {
  font-weight: bold;
  width: 100px;
  margin: 0;
  text-align: right;
  color: red;
  font-size: 13px;
}
.container .control {
  text-align: center;
  margin-top: 20px;
}
.container .control .btn {
  margin: 0 20px;
  width: 250px;
  border-radius: 20px;
  color: #fff;
}
.container .control .btn-see-more {
  background-color: #66a55f;
}
.container .control .btn-pay {
  background-color: #de6663;
}/*# sourceMappingURL=cart.component.css.map */