.container {
  width: 830px;
  color: #4d4b4b;
  margin-top: 130px;
  margin-bottom: 50px;

  .title {
    border-bottom: #4d4d4d solid 1px;
    display: flex;
    justify-content: center;

    .product {
      padding-left: 55px;
      width: 300px;
    }

    .price {
      text-align: center;
      width: 100px;
    }

    .amount {
      text-align: center;
      width: 300px;
    }

    .total {
      text-align: center;
      width: 100px;
    }
  }

  .summary {
    display: flex;

    input {
      text-align: center;
      width: 300px;
      height: 30px;
      border: #d7d7d7 solid 1px;
    }
  }

  .control {
    text-align: center;
    margin-top: 20px;

    .btn {
      margin: 0 20px;
      width: 250px;
      border-radius: 20px;
      color: white;
    }

    .btn-see-more {
      background-color: #66a55f;
    }

    .btn-pay {
      background-color: #de6663;
    }
  }
}
