<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="section section__container">
  <p class="section__title">Giỏ hàng của bạn</p>

  <!-- Cart list -->
  <div class="cart__container">
    <ul class="cart__list" >
      <!-- Item -->
      <li class="cart__item" *ngFor="let item of items">
        <img src="./assets/BTruong/image-mix/{{ item.img1 }}" alt="" class="cart__img" />
        <div class="cart__content">
          <p class="title">{{ item.name }}</p>

         <div class="price__wrapper">
          <div class="cart__price">{{ item.price }}&#8363; <span>/ phần</span></div>
          <div class="cart__price hide">{{ item.quantity * item.price }}&#8363;</div>
         </div>

          <div class="cart__controls">
            <div class="cart__controls-amount">
              <div class="button button__small button__minus" (click)="down(inputQuantityElement, item)" >
                <i class="fas fa-minus button__icon"></i>
              </div>

              <input type="text" class="input__small" value="{{ item.quantity }}" #inputQuantityElement (input)="updateQuantity(inputQuantityElement, item)" />

              <div class="button button__small button__plus" (click)="up(inputQuantityElement, item)" >
                <i class="fas fa-plus button__icon"></i>
              </div>
            </div>

            <div class="button button__delete"  (click)="removeProduct(item)" >
              <i class="far fa-trash-alt button__icon icon__trash"></i> Xóa
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Cart total temp -->
  <div class="total__container">
    <p class="total__note">
      * Đơn sẽ được giao trong hôm nay hoặc ngày mai để đảm bảo chất lượng
    </p>

    <div class="total__content">
      <div class="total__item">
        <div class="total__title">Nhập voucher</div>
        <form [formGroup]="voucherGroup">
          <div class="voucher__wrapper">
              <input type="text" class="voucher__input" placeholder="Voucher" minlength="4" maxlength="5" formControlName="voucherId" />
              <input class="button__green button button__apply" type="submit" value="Áp dụng" (click)="applyVoucher()" [disabled]="voucherGroup.invalid" >
          </div>
          <div>
              <div class="cart__price total__price discount__price" *ngIf="discount && !voucherGroup.controls.voucherId.errors?.minlength " >- {{discount}}&#8363;</div>
              <ng-container >
                  <p class="notifi" *ngIf="!notifi &&
                  voucherGroup.controls.voucherId.errors?.minlength &&
                  voucherGroup.controls.voucherId.touched">Mời nhập lại
                  </p>
                  <p class="notifi" *ngIf="notifi">{{notifi}}</p>
              </ng-container>
          </div>
        </form>
      </div>

      <div class="total__item">
        <div class="total__title">Giao hàng</div>
        <div class="cart__price total__price">{{diliveryPrice}}&#8363;</div>
      </div>

      <div class="total__item">
        <div class="total__title">Tạm tính</div>
        <div class="cart__price total__price">{{total}}&#8363;</div>
      </div>

      <div class="total__item">
        <div class="total__title">Tổng cộng</div>
        <div class="cart__price total__price">{{ total - discount + diliveryPrice}}&#8363;</div>
      </div>
    </div>

    <div class="total__controls">
      <div class="button button__green button__medium">Mua thêm</div>
      <div class="button button__red button__medium">Thanh toán</div>
    </div>
  </div>
</section>
