.container {
  width: 830px;
  color: #4d4b4b;
  margin-top: 130px;
  margin-bottom: 50px;

  .title {
    border-bottom: #4d4d4d solid 1px;
    display: flex;
    justify-content: center;

    .product {
      padding-left: 55px;
      width: 300px;
    }

    .price {
      text-align: center;
      width: 100px;
    }

    .amount {
      text-align: center;
      width: 300px;
    }

    .total {
      text-align: center;
      width: 100px;
    }
  }

  .info {
    margin: 20px 0px;
    justify-content: center;
    display: flex;
    border-bottom: #4d4b4b dashed 1px;
    padding-bottom: 20px;

    .product {
      width: 300px;
      display: flex;

      .product-button {
        width: 25px;
        height: 25px;
        padding-top: 110px;
        opacity: 0.4;
        transition: transform 0.2s;

        background: url(/../../../../assets/NTrungData/cancel.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
          transform: scale(120%);
          
        }

        &:active {
          opacity: 1;
        }
      }

      .product-image {
        width: 100px;
        height: 100px;
        margin: 0 20px;
        transition: transform 0.5s;

        &:hover{
          cursor: pointer;
          transform: translateY(-5px);
        }
      }

      .product-name {
        padding-top: 50px;
        width: 135px;
      }
    }

    .price {
      text-align: right;
      padding-top: 50px;
      width: 100px;
    }

    .amount {
      width: 300px;
      padding-top: 45px;
      justify-content: center;
      display: flex;

      input {
        text-align: center;
        width: 50px;
        height: 30px;
        border: #d7d7d7 solid 1px;
      }

      .tag {
        margin: 0 auto;
        background-color: red;
        width: 30px;
        height: 30px;
      }

      .btn {
        width: 30px;
        height: 30px;
        opacity: 0.5;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }

        &:active {
          opacity: 1;
        }
      }

      .minus {
        background: url(/../../../assets/NTrungData/minus.svg);
        background-color: #d7d7d7;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .plus {
        background: url(/../../../assets/NTrungData/plus.svg);
        background-color: #d7d7d7;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }


  // 
  .summary {
    display: flex;

    input {
      text-align: center;
      width: 300px;
      height: 30px;
      border: #d7d7d7 solid 1px;
    }
  }

  .control {
    text-align: center;
    margin-top: 20px;

    .btn {
      margin: 0 20px;
      width: 250px;
      border-radius: 20px;
      color: white;
    }

    .btn-see-more {
      background-color: #66a55f;
    }

    .btn-pay {
      background-color: #de6663;
    }
  }
}
