<div class="blog-item">

    <div class="title-blog">
        <div class="date">
            <p class="date-p">{{blogItem?.time}}</p>
        </div>
        <div class="tile-sub">
            <p class="title-sub-p">{{blogItem?.title}}</p>
        </div>
        <div class="des">
            <p class="des-p">{{blogItem?.content1}}</p>
        </div>
    </div>
    <div class="image-blog">
        <img width="240" height="170" src="./assets/BTruong/image-mix/{{ blogItem?.imageBl }}" alt="">
    </div>
</div>
