
*{
  color: #707070;
}
.container {
  .title {
    display: flex;

    input {
      display: none;
    }

    label {
      margin: 0;
      padding: 0;
    }

    .block {
      padding-top: 10px;
      cursor: pointer;
      width: 300px;
      height: 40px;
      text-align: center;
      border: #707070 solid 1px;
      border-bottom: none;
    }

    #info:checked ~ .info,
    #comment:checked ~ .comment {
      background: #707070;
      color: white;
    }
  }
}
