<div class="container border-bottom">
  <div class="title">
    <label
      [class.active]="checkActiveInfo"
      class="block info font-weight-bold"
      (click)="changeInfo()"
      >Thông tin thêm</label
    >
    <label
      [class.active]="checkActiveComment"
      class="block comment font-weight-bold"
      (click)="changeComment()"
      >Bình luận & đánh giá</label
    >
  </div>
  <app-more-info *ngIf="checkActiveInfo"></app-more-info>
  <app-comment-show *ngIf="checkActiveComment"></app-comment-show>
</div>
