<div class="quick">
    <div class="image">
        <div class="image-container">
            <div class="image-lg">
                <input type="radio" name="images" id="i1">
                <input type="radio" name="images" id="i2">
                <input type="radio" name="images" id="i3">

                <div class="slide_img" id="two">
                    <img src="./assets/BTruong/image-mix/{{ product?.img2 }} " alt="" />
                </div>
                <div class="slide_img" id="three">
                    <img src="./assets/BTruong/image-mix/{{ product?.img3 }} " alt="" />
                </div>
                <div class="slide_img" id="one">
                    <img src="./assets/BTruong/image-mix/{{ product?.img1 }} " alt="" />
                </div>

            </div>
            <div class="image-sm">
                <label for="i1" class="dots" id="d1">  <img  src="./assets/BTruong/image-mix/{{ product?.img1 }}" alt="" /></label>
                <label for="i2" class="dots" id="d2"> <img  src="./assets/BTruong/image-mix/{{ product?.img2 }}" alt="" /></label>
                <label for="i3" class="dots" id="d3"> <img  src="./assets/BTruong/image-mix/{{ product?.img3 }}" alt="" /></label>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="title1">
            <p style="margin-bottom: 0px; font-weight: 400px">{{ product?.name | titlecase }}</p>
            <div class="price-wrapper">
                <span class="price"><span
            style="color: #66a55f; font-size: 18px; font-weight: 500"
            class="woocommerce-Price-amount amount"
            >{{ product?.price | number }}&nbsp;<span
              class="woocommerce-Price-currencySymbol"
              >&#8363;</span
            ></span
          >
        </span>
            </div>
        </div>
        <div class="line">
            <hr style="font-size: 16px" />
        </div>
        <div class="title2">
            <p class="over">{{ product?.description }}</p>
        </div>

        <div class="btn-cont">
            <div class="btn">
                <div class="cart">
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="quantity" style="border-radius: 10px;">
                            <input #InputQuantityElementPopup (input)="getValue(InputQuantityElementPopup)" type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" maxlength="3" step="1" max="99" min="1" value="1" title="Qty" class="qty">
                        </div>
                    </div>
                </div>
                <div class=" btn-cart-1 "></div>
                <button type="button " class="btn btn-success " style=" background-color: #66a55f; height: 40px; font-size: 16px; width: 147px; border-radius: 10px; " (click)="addToCart(InputQuantityElementPopup) ">
          <i class="fas fa-cart-plus "></i> Add to cart
        </button>
            </div>
        </div>
        <div class="title3 ">
            <p class="tag ">
                Mã : <span class="list ">{{ product?.id }}</span>
            </p>
            <p class="tag ">
                Danh Mục : <span class="list ">{{ product?.category }}</span>
            </p>
            <p class="tag ">
                Xuất xứ :
                <span class="list " style="font-style: italic ">{{product?.origin}}</span
        >
      </p>
    </div>
  </div>
</div>
