<div class="layout-box">
  <ul>
    <li>
      <i class="fas fa-dot-circle"></i> <b>Xuất xứ:</b> Từ trang trại nông sản
      <div class="made-vege">
        <p class="font-weight-bold" style="color: #66a55f">FRESH</p>
        <p class="font-weight-bold" style="color: #cf2c61">VEGE</p>
      </div>
    </li>

    <li>
      <i class="fas fa-dot-circle"></i><b>Chứng nhận:</b> Đạt chứng nhận Global
      GAP.
    </li>
    <li>
      <i class="fas fa-dot-circle"></i> <b>Gợi ý sử dụng:</b> Có thể dùng làm
      nước ép, các món sinh tố và giải khát.
    </li>
    <li>
      <i class="fas fa-dot-circle"></i> <b>Bảo quản:</b> Bảo quản trong ngăn mát
      tủ lạnh, tránh ánh nắng trực tiếp.
    </li>
    <li>
      <i class="fas fa-dot-circle"></i><b>Hạn sử dụng:</b> 3-6 ngày tùy điều
      kiện bảo quản.
    </li>
  </ul>
</div>
