/* ==================== GOOGLE FONT ==================== */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* ==================== MNI RESET CSS ==================== */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  color: hsl(0, 0%, 44%);
}

p {
  margin: 0;
  padding: 0;
}

/* Section */
.section {
  padding: 5rem 1.5rem 1.5rem;
  max-width: 1024px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.section__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.wrapper {
  margin-bottom: 4rem;
}
/* Link */
.link__list {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  display: block;
}

.link__item {
  display: inline;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
}

.link__item:hover {
  color: hsl(214, 78%, 58%);
}

.link__item:nth-child(2),
.link__item:nth-child(4) {
  padding: 0 0.5rem;
  pointer-events: none;
}

/* More */
.more__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.more__item b:nth-child(2) {
  color: hsl(340, 65%, 49%);
}

.more__item b:nth-child(3) {
  color: hsl(114, 28%, 51%);
}

@media screen and (min-width: 768px) {
  .section {
    padding: 2rem;
  }

  .bill__title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem;
  }

  .more__list {
    margin: 0 3rem;
  }
}
