.container-product {
    margin-right: 106px;
}

.circle1 {
    padding-top: 8px;
    background: #86ba09;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: #f8f8f8;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}

.circle2 {
    padding-top: 8px;
    background: #f8f8f8;
    border-radius: 50%;
    border: 1px solid rgb(87, 87, 87);
    height: 45px;
    width: 45px;
    color: rgb(87, 87, 87);
    text-align: center;
    margin-right: 30px;
}

.circle3 {
    padding-top: 8px;
    background: #f8f8f8;
    border-radius: 50%;
    border: 1px solid rgb(87, 87, 87);
    height: 45px;
    width: 45px;
    color: rgb(87, 87, 87);
    text-align: center;
}

.woocome {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #86ba09;
    border-radius: 50%;
    border: 1px solid#86ba09;
    height: 45px;
    width: 45px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}

.my-pagination /deep/ .ngx-pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
