<form 
style="padding: 20px"
  novalidate
  #form="ngForm"
  (ngSubmit)="onFormSubmit()"
  [formGroup]="commentGroup"
>
  <div class="row">
    <div class="col">
      <input
        matInput
        [(ngModel)]="surname"
        formControlName="surname"
        type="text"
        [ngClass]="{
          'set-input-short': true,
          'form-control': true,
          'is-valid': commentGroup.controls.surname.valid,
          'is-invalid':
            !commentGroup.controls.surname.valid &&
            commentGroup.controls.surname.touched
        }"
        placeholder="Họ"
        required
      />
      <div
        *ngIf="
          commentGroup.controls.surname.errors?.required &&
          commentGroup.controls.surname.touched
        "
        class="invalid-feedback"
      >
        Không để trống
      </div>
      <div
        *ngIf="
          commentGroup.controls.surname.errors?.minlength &&
          commentGroup.controls.surname.touched
        "
        class="invalid-feedback"
      >
        Ít nhất 2 kí tự
      </div>
    </div>
    <div class="col">
      <input
        matInput
        [(ngModel)]="name"
        formControlName="name"
        type="text"
        [ngClass]="{
          'set-input-short': true,
          'form-control': true,
          'is-valid': commentGroup.controls.name.valid,
          'is-invalid':
            !commentGroup.controls.name.valid &&
            commentGroup.controls.name.touched
        }"
        placeholder="Tên"
        required
        minlength="2"
      />
      <div
        *ngIf="
          commentGroup.controls.name.errors?.required &&
          commentGroup.controls.name.touched
        "
        class="invalid-feedback"
      >
        Không để trống
      </div>
      <div
        *ngIf="
          commentGroup.controls.name.errors?.minlength &&
          commentGroup.controls.name.touched
        "
        class="invalid-feedback"
      >
        Ít nhất 2 kí tự
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <input
        matInput
        [(ngModel)]="email"
        formControlName="email"
        type="email"
        [ngClass]="{
          'set-input-short': true,
          'form-control': true,
          'is-valid': commentGroup.controls.email.valid,
          'is-invalid':
            !commentGroup.controls.email.valid &&
            commentGroup.controls.email.touched
        }"
        placeholder="Email"
        required
      />
      <div
        *ngIf="
          commentGroup.controls.email.errors?.required &&
          commentGroup.controls.email.touched
        "
        class="invalid-feedback"
      >
        Không để trống
      </div>
      <div
        *ngIf="
          commentGroup.controls.email.errors?.pattern &&
          commentGroup.controls.email.touched
        "
        class="invalid-feedback"
      >
        Ví dụ: khachhang@gmail.com
      </div>
    </div>
    <div class="col">
      <input
        matInput
        [(ngModel)]="phone"
        formControlName="phone"
        type="tel"
        [ngClass]="{
          'set-input-short': true,
          'form-control': true,
          'is-valid': commentGroup.controls.phone.valid,
          'is-invalid':
            !commentGroup.controls.phone.valid &&
            commentGroup.controls.phone.touched
        }"
        class="form-control"
        placeholder="Số điện thoại"
        required
      />
      <div
        *ngIf="
          commentGroup.controls.phone.errors?.required &&
          commentGroup.controls.phone.touched
        "
        class="invalid-feedback"
      >
        Không để trống
      </div>
      <div
        *ngIf="
          commentGroup.controls.phone.errors?.pattern &&
          commentGroup.controls.phone.touched
        "
        class="invalid-feedback"
      >
        Ví dụ: 0123456789 / 8412345678
      </div>
    </div>
  </div>
  <br />
  <div class="input-group" style="height: 62px">
    <div class="input-group-prepend">
      <label class="input-group-text" style="height: 38px">Giới tính</label>
    </div>
    <select
      class="custom-select"
      id="inputGroupSelect01"
      matInput
      [(ngModel)]="sex"
      formControlName="sex"
      [ngClass]="{
        'form-control': true,
        'is-valid': commentGroup.controls.sex.valid,
        'is-invalid':
          !commentGroup.controls.sex.valid && commentGroup.controls.sex.touched
      }"
    >
      <option value="Nam" selected>Nam</option>
      <option value="Nữ">Nữ</option>
      <option value="Khác">Khác</option>
    </select>
    <div
      *ngIf="
        commentGroup.controls.sex.errors?.required &&
        commentGroup.controls.sex.touched
      "
      class="invalid-feedback"
    >
      Không để trống
    </div>
  </div>

  <div class="rating">
    <div class="stars">
      <link
        rel="stylesheet prefetch"
        href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      />
      <form action="">
        <input
          value="5"
          [(ngModel)]="rate"
          class="star star-5"
          id="star-5"
          type="radio"
          name="star"
        />
        <label class="star star-5" for="star-5"></label>
        <input
          value="4"
          [(ngModel)]="rate"
          class="star star-4"
          id="star-4"
          type="radio"
          name="star"
        />
        <label class="star star-4" for="star-4"></label>
        <input
          value="3"
          [(ngModel)]="rate"
          class="star star-3"
          id="star-3"
          type="radio"
          name="star"
        />
        <label class="star star-3" for="star-3"></label>
        <input
          value="2"
          [(ngModel)]="rate"
          class="star star-2"
          id="star-2"
          type="radio"
          name="star"
        />
        <label class="star star-2" for="star-2"></label>
        <input
          value="1"
          [(ngModel)]="rate"
          class="star star-1"
          id="star-1"
          type="radio"
          name="star"
        />
        <label class="star star-1" for="star-1"></label>
      </form>
    </div>
  </div>
  <div class="mb-3" style="height: 110px; margin: 0">
    <textarea
      matInput
      [(ngModel)]="content"
      formControlName="content"
      [ngClass]="{
        'form-control': true,
        'is-valid': commentGroup.controls.content.valid,
        'is-invalid':
          !commentGroup.controls.content.valid &&
          commentGroup.controls.content.touched
      }"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Viết nhận xét hoặc bình luận"
      required
    ></textarea>
    <div
      *ngIf="
        commentGroup.controls.content.errors?.required &&
        commentGroup.controls.content.touched
      "
      class="invalid-feedback"
    >
      Không để trống
    </div>
    <div
      *ngIf="
        commentGroup.controls.content.errors?.minlength &&
        commentGroup.controls.content.touched
      "
      class="invalid-feedback"
    >
      Ít nhất 20 kí tự
    </div>
  </div>
  <div class="controls">
    <button
      [disabled]="commentGroup.invalid"
      style="float: right"
      class="btn btn-success"
      [matDialogClose]="[surname, name, email, phone, sex, content, rate]"
    >
      Gửi
    </button>
    <button
      mat-button
      style="float: right"
      class="btn btn-success"
      (click)="cancel()"
    >
      Hủy
    </button>
  </div>
</form>
