.container-product {
    margin-right: 70px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #66A55F;
    border-radius: 50%;
    border: 1px solid#66A55F;
    height: 45px;
    width: 45px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}

.my-pagination /deep/ .ngx-pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0px;
}

.sort {
    display: flex;
    justify-content: flex-end;
    font-family: 'Quicksand';
    align-items: baseline;
    margin-right: 5px;
}

.display {
    margin-right: 21px;
    font-size: 15px;
    font-family: 'Quicksand';
}

.sort-sub {
    font-size: 14px;
    font-family: 'Quicksand';
}

.sort-sub option {
    font-size: 14px;
    color: #212529;
    font-family: 'Quicksand';
}

.col-md-3 {
    margin-top: 30px;
    padding: 0px 15px 0px 15px;
}
