.container-product {
    margin-right: 106px;
    margin-left: 30px;
}

.circle1 {
    padding-top: 8px;
    background: #66A55F;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: #f8f8f8;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
}

.circle2 {
    padding-top: 8px;
    background: #f8f8f8;
    border-radius: 50%;
    border: 1px solid rgb(87, 87, 87);
    height: 45px;
    width: 45px;
    color: rgb(87, 87, 87);
    text-align: center;
    margin-right: 30px;
}

.circle3 {
    padding-top: 8px;
    background: #f8f8f8;
    border-radius: 50%;
    border: 1px solid rgb(87, 87, 87);
    height: 45px;
    width: 45px;
    color: rgb(87, 87, 87);
    text-align: center;
}

.woocome {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #66A55F;
    border-radius: 50%;
    border: 1px solid#66A55F;
    height: 45px;
    width: 45px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
}

.my-pagination /deep/ .ngx-pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sort {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-right: 64px;
    font-family: 'Quicksand';
}

.display {
    position: absolute;
    margin-right: 21px;
    left: 622px;
    top: -12px;
    top: -23px;
    font-size: 15px;
    font-family: 'Quicksand';
}

.sort-sub {
    position: absolute;
    top: -24px;
    left: 772px;
    font-size: 14px;
    font-family: 'Quicksand';
}

.sort-sub option {
    font-size: 14px;
    color: #212529;
    font-family: 'Quicksand';
}
