<div class="news-layout container">
    <div class="news-title h1">Một vài thông tin về sản phẩm</div>
    <div class="news-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptate assumenda temporibus tempora in voluptatibus cupiditate nesciunt, officia perferendis dolorum ipsa iusto quidem fugit totam ratione! Totam ratione voluptates architecto vel porro, cupiditate praesentium eligendi inventore exercitationem ab quas nemo?</div>
    <div class="news-image"></div>
    <div class="news-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit quis amet cum? Ducimus similique beatae ipsa repellat fuga quasi cupiditate culpa laboriosam earum maxime autem necessitatibus sit iste aliquid ad odit temporibus excepturi, perspiciatis qui ea saepe nulla hic tenetur?</div>
</div>
