.container {
  margin-top: 155px;
  margin-bottom: 20px;
  display: flex;
  .pay-form {
    width: 710px;
    padding-left: 100px;
  }
  .pay-bill {
    // border: 1px solid #707070;
    width: 400px;
  }
}

