<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="col large-3  ">
    <div class="sidebar-inner col-inner">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
            <div class="is-divider small" style="display: flex;">
                <span class="widget-title shop-sidebar " style="margin :0 auto; margin-top: 12px; color: #fff; font-size: 18px;">DANH SÁCH SẢN PHẨM</span>
            </div>
            <div class="menu-danh-muc-san-pham-vertical-menu-container ">
                <div class="menu">
                    <div class="menu1">
                        <p class="span-font"><a style="color: rgb(37, 37, 37);" routerLink="/rau">Rau</a> </p>


                    </div>
                    <div class="menu2">
                        <p class="span-font"><a style="color: rgb(37, 37, 37);" routerLink="/traicay">Trái Cây</a> </p>


                    </div>
                    <div class="menu3">
                        <p class="span-font"><a style="color: rgb(37, 37, 37);" routerLink="/cu">Củ</a> </p>

                    </div>
                    <div class="menu4">
                        <p class="span-font">
                            <a style="color: rgb(37, 37, 37);" routerLink="/qua">Quả</a>
                        </p>

                    </div>
                    <div class="menu5">
                        <p class="span-font"><a style="color: rgb(37, 37, 37);" routerLink="/nam">Nấm</a> </p>

                    </div>


                </div>
            </div>
        </aside>

    </div>
</div>


<div class="col3 large-3  ">
    <div class="nav2">

        <div class="is-divider small" style="margin :0 auto; margin-top: 12px; color: #fff; font-size: 18px;">
            <span style="margin-left: 74px;">LỌC THEO GIÁ</span>
        </div>

        <div class="bottom">
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <div class="small">
                <div class="btn">
                    <button type="submit" style="  border: none;width: 50px; border-radius: 99px; font-size: 16px;background-color: #666;color: #fff;"><span style="font-size: 12px;padding-bottom: 3px;">Lọc</span></button>
                </div>
                <div class="price ">
                    Giá 35,000 ₫ — 450,000 ₫
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col4 large-3">
    <aside id="woocommerce_products-3" class="widget woocommerce widget_products">
        <div class="is-divider small">
            <span class="widget-title shop-sidebar" style="font-size: 18px;color: #fff;margin: 0 auto;">SẢN PHẨM</span>
        </div>
        <ul class="product_list_widget">
            <li style="height: 83px; background-color:#f8f8f8 ;border: 1px solid #e4e4e4 ;">
                <div class="flex">
                    <a href="https://mauweb.monamedia.net/cleverfood/san-pham/nho-xanh/ ">
                        <img width="60 " height="60 " src="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-100x100.jpg " class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail " alt="
                    " srcset="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-100x100.jpg 100w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-150x150.jpg 150w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470-300x300.jpg
                    300w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-9-470x470.jpg 470w " sizes="(max-width: 100px) 100vw, 100px " />

                    </a>
                    <div class="flex-sub " style="margin-left: 20px; ">
                        <p class="product-title ">Nho xanh</p>
                        <span class="woocommerce-Price-amount amount " style="margin-top: 0px; font-size: 14px;color:#86ba09 ; ">320,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>

            </li>
            <li style="height: 81px;border: 1px solid #e4e4e4  ">
                <div class="flex">

                    <a href="https://mauweb.monamedia.net/cleverfood/san-pham/dao/ ">
                        <img width="60 " height="60 " src="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-24-470x470-100x100.jpg " class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail " alt="
                    " srcset="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-24-470x470-100x100.jpg 100w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-24-470x470-150x150.jpg 150w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-24-470x470-300x300.jpg
                    300w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-24-470x470.jpg 470w " sizes="(max-width: 100px) 100vw, 100px " />
                    </a>
                    <div class="flex-sub " style="margin-left: 20px; ">
                        <p class="product-title ">Đào</p>

                        <span class="woocommerce-Price-amount amount " style="margin-top: 0px; font-size: 14px;color:#86ba09 ; ">330,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
            <li style="height: 81px; background-color: #f8f8f8;border: 1px solid #e4e4e4 ">
                <div class="flex">
                    <a href="https://mauweb.monamedia.net/cleverfood/san-pham/chanh-day/ ">
                        <img width="60 " height="60 " src="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-15-470x470-100x100.jpg " class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail " alt="
                    " srcset="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-15-470x470-100x100.jpg 100w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-15-470x470-150x150.jpg 150w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-15-470x470-300x300.jpg
                    300w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-15-470x470.jpg 470w " sizes="(max-width: 100px) 100vw, 100px " />
                    </a>
                    <div class="flex-sub " style="margin-left: 20px; ">
                        <p class="product-title ">Chanh dây</p>
                        <span class="woocommerce-Price-amount amount " style="margin-top: 0px; font-size: 14px;color:#86ba09 ; ">190,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>



                </div>
            </li>
            <li style="height: 81px;border: 1px solid #e4e4e4 ">
                <div class="flex">
                    <a href="https://mauweb.monamedia.net/cleverfood/san-pham/chuoi/ ">
                        <img width="60 " height="60 " src="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-12-470x470-100x100.jpg " class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail " alt="
                    " srcset="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-12-470x470-100x100.jpg 100w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-12-470x470-150x150.jpg 150w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-12-470x470-300x300.jpg
                    300w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-12-470x470.jpg 470w " sizes="(max-width: 100px) 100vw, 100px " />
                    </a>
                    <div class="flex-sub " style="margin-left: 20px; ">
                        <p class="product-title ">Chuối</p>
                        <span class="woocommerce-Price-amount amount " style="margin-top: 0px; font-size: 14px;color:#86ba09 ; ">150,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
            <li style="height: 81px; background-color: #f8f8f8;border: 1px solid #e4e4e4">
                <div class="flex">
                    <a href="https://mauweb.monamedia.net/cleverfood/san-pham/dua-leo/ ">
                        <img width="60 " height="60 " src="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-16-470x470-100x100.jpg " class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail " alt="
                    " srcset="https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-16-470x470-100x100.jpg 100w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-16-470x470-150x150.jpg 150w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-16-470x470-300x300.jpg
                    300w, https://mauweb.monamedia.net/cleverfood/wp-content/uploads/2019/05/product-16-470x470.jpg 470w " sizes="(max-width: 100px) 100vw, 100px " />
                    </a>
                    <div class="flex-sub " style="margin-left: 20px; ">
                        <p class="product-title ">Dưa leo</p>
                        <span class="woocommerce-Price-amount amount " style="margin-top: 0px; font-size: 14px;color:#86ba09 ; ">50,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>



                </div>
            </li>
        </ul>
    </aside>
</div>
