<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


<div class="col2 large-3  ">
    <div class="sidebar-inner col-inner">
        <aside id="nav_menu-2" class="widget widget_nav_menu">
            <div class="is-divider small" style="display: flex;">
                <span class="widget-title shop-sidebar " style="margin :0 auto; margin-top: 12px; color: #fff; font-size: 18px;">DANH MỤC</span>
            </div>
            <div class="menu-danh-muc-san-pham-vertical-menu-container ">
                <ul class="menu " routerLink="/cuahang/{{item.id}}" *ngFor="let item of categorys" [ngClass]="{'active': selectedItemId === item.id}" (click)="selectedItemId = item.id">
                    <li class="menu-sub ">
                        <a class="span-font menu1a ">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <!--  -->

</div>
<div class="col3 large-3 ">
    <div class="nav2">
        <div class="is-divider small " style="margin :0 auto; margin-top: 12px; color: #fff; font-size: 18px; ">
            <span class="span">LỌC THEO GIÁ</span>
        </div>
        <div class="bottom ">
            <div class="small ">
                <ngx-slider [(value)]="minValue " [(highValue)]="maxValue " [options]="options "></ngx-slider>
                <div class="btn" (click)="sendParent()" style=" position: absolute; left: 27px; top: 44px; border: none;width: 50px; border-radius: 99px; font-size: 16px;background-color: #666;color: #fff; height: 25px; position: absolute; left: 12px; ">
                    <span style="font-size: 12px;padding-bottom: 3px; position: absolute; top:3px; ;left: 14px; ">Lọc</span>
                    <!-- <a type="submit "
            style=" border: none;width: 50px; border-radius: 99px; font-size: 16px;background-color: #666;color: #fff; "></a> -->
                </div>
                <div class="price ">
                    Giá:
                </div>
                <div class="cro ">-</div>
            </div>
        </div>
    </div>
</div>
<div class="col4 large-3 ">
    <aside id="woocommerce_products-3 " class="widget woocommerce widget_products ">
        <div class="is-divider small ">
            <span class="widget-title shop-sidebar " style="font-size: 18px;color: #fff;margin: 0 auto; ">SẢN PHẨM PHỔ
        BIẾN</span>
        </div>
        <ul class="product_list_widget ">
            <li class="flex-con1 ">
                <div class="flex ">
                    <a href="# ">
                        <img style="border-radius: 50%; " width="40 " height="40 " src="./assets/BTruong/image-mix/FR001.jpg " alt=" ">
                    </a>
                    <div class="flex-sub " style="margin-left: 28px; ">
                        <p class="product-title ">Bòn Bon</p>
                        <span class="woocommerce-Price-amount1 amount ">118,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
            <li class="flex-con2 ">
                <div class="flex ">

                    <a href="# ">
                        <img style="border-radius: 50%; " width="40 " height="40 " src="./assets/BTruong/image-mix/FR004.jpg " alt=" ">
                    </a>
                    <div class="flex-sub " style="margin-left: 28px; ">
                        <p class="product-title ">Cam ruột đỏ</p>
                        <span class="woocommerce-Price-amount2 amount ">130,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
            <li class="flex-con3 ">
                <div class="flex ">
                    <a href="# "> <img style="border-radius: 50%; " width="40 " height="40 " src="./assets/BTruong/image-mix/RAU013.jpg " alt=" ">
                    </a>
                    <div class="flex-sub " style="margin-left: 28px; ">
                        <p class="product-title ">Xà lách</p>
                        <span class="woocommerce-Price-amount3 amount ">25,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
            <li class="flex-con4 " style="height: 60px;border: 1px solid #e4e4e4 ">
                <div class="flex ">
                    <a href="# "> <img style="border-radius: 50%; " width="40 " height="40 " src="./assets/BTruong/image-mix/RAU016.jpg " alt=" ">
                    </a>
                    <div class="flex-sub " style="margin-left: 28px; ">
                        <p class="product-title ">Tần ô</p>
                        <span class="woocommerce-Price-amount4 amount ">16,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
            <li class="flex-con5 ">
                <div class="flex ">
                    <a href="# ">
                        <img style="border-radius: 50%; " width="40 " height="40 " src="./assets/BTruong/image-mix/RAU019.jpg " alt=" ">
                    </a>
                    <div class="flex-sub " style="margin-left: 28px; ">
                        <p class="product-title ">Rau đay</p>
                        <span class="woocommerce-Price-amount5 amount ">15,000&nbsp;<span
                class="woocommerce-Price-currencySymbol ">&#8363;</span></span>
                    </div>
                </div>
            </li>
        </ul>
    </aside>
</div>