.question{
    width: 600px;
    font-size: 16px;
    padding: 10px 0px;
    .name{
        margin: 10px 0px;
    }

    .content{
        margin: 10px 0px;
    }

    .controls{
        font-size: 15px;
        margin: 10px 0px;
        color: darken($color: blue, $amount: 10%);
        display: flex;
        text-align: center;

        .tag{
            margin: 0px 10px;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }

            &:active{
                color: darken($color: blue, $amount: 10%);
            }
        }
    }
}

.answer{
    border-radius: 2px;
    background-color: #ebebeb;
    width: 600px;
    padding:10px 0px 10px 20px ;
    font-size: 16px;
    box-shadow:  0 2px 4px 0 #d3d3d3, 0 3px 10px 0 #d3d3d3;
}
