<div class="question">
  <div class="name font-weight-bold">Nguyễn Ngọc Trung</div>
  <div class="content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam,
    distinctio ratione deleniti minus soluta nam alias quaerat quos voluptatem
    ex eum unde cumque hic harum, voluptates vel inventore iste officia.
  </div>
  <div class="controls">
      <div class="answer-controls tag"><i class="far fa-comment"></i> Trả lời</div>
      <div class="like-controls tag"><i class="far fa-thumbs-up"></i> Thích</div>
      <div class="dislike-controls tag"><i class="far fa-thumbs-down"></i> Không thích</div>
  </div>
</div>
<div class="answer">
  <app-evaluate-answer></app-evaluate-answer>
  <app-evaluate-answer></app-evaluate-answer>
  <app-evaluate-answer></app-evaluate-answer>
</div>
