.col {
    margin-top: 50px;
    margin-left: 20px;
    height: 320px;
}

.icon {
    margin-top: 10px;
    margin: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
}

.product-small {
    border: 1px solid #e4e4e4;
    width: 202px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 #d3d3d3, 0 3px 10px 0 #d3d3d3;
}

img {
    border-radius: 10px 10px 0px 0px;
}

.title-wrapper {
    color: black;
}