/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
html,
body {
    margin: 0;
    box-sizing: 0;
    font-size: 16px !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Quicksand, "Helvetica Neue", sans-serif !important;
}
